/* Responsive Font size */

// ==============================
// Font size mixin
// ==============================

//  default font scale bounding
$font-lock-min:  360px !default;
$font-lock-max: 1920px !default;

//  font-size
@mixin responsive-font-size(
  $min,                         // font-size
  $max: null,                   // optional maximum font size
  $lock-min: $font-lock-min,  // optional minimum viewport width
  $lock-max: $font-lock-max   // optional maximum viewport width
){
  & { font-size: $min;
    line-height: ($min * 1.56);}
  @if $max {
    @media (min-width: $lock-min) and (max-width: $lock-max){
      & {
        font-size: calc(
                #{$min} +
                #{num($max) - num($min)} *
                (100vw - #{$lock-min}) /
                #{num($lock-max) - num($lock-min)}
        );
        line-height: calc((
        #{$min} +
        #{num($max) - num($min)} *
        (100vw - #{$lock-min}) /
        #{num($lock-max) - num($lock-min)}) * 1.56
        );
      }
    }
    @media (min-width: $lock-max){
      & { font-size: $max;
        line-height: ($max * 1.56);
      }
    }
  }
}

// ==============================
// Font size mixin
// ==============================

//  default font scale bounding

//  font-size
@mixin responsive-font-size-heading (
  $min,                         // font-size
  $max: null,                   // optional maximum font size
  $lock-min: $font-lock-min,  // optional minimum viewport width
  $lock-max: $font-lock-max   // optional maximum viewport width
){
  & { font-size: $min;
    line-height: ($min * 1.25);}
  @if $max {
    @media (min-width: $lock-min) and (max-width: $lock-max){
      & {
        font-size: calc(
                #{$min} +
                #{num($max) - num($min)} *
                (100vw - #{$lock-min}) /
                #{num($lock-max) - num($lock-min)}
        );
        line-height: calc((
        #{$min} +
        #{num($max) - num($min)} *
        (100vw - #{$lock-min}) /
        #{num($lock-max) - num($lock-min)}) * 1.25
        );
      }
    }
    @media (min-width: $lock-max){
      & { font-size: $max;
        line-height: ($max * 1.25);
      }
    }
  }
}

//  strip units helper function
@function num($input){
  @return $input/($input * 0 + 1);
}