.eurest-btn {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  @include responsive-font-size(14px, 14px);
  font-family: $font-alpha;
  font-weight: 700;
  @include responsive-margin-top-bottom(30px, 55px);
  margin-bottom: 0 !important;
  color: $colour-text-body-levy;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  box-shadow: inset 0 0 0 1px $colour-text-body-levy;
  @include responsive-padding-top-bottom(16px, 27px);
  @include responsive-padding-left-right(35px, 55px);


  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: $colour-text-body-levy;
    z-index: -1;
    transition: all 0.6s ease-in-out;
    transform: translateX(-100%);
  }

  &:after {
    transform: translateX(0);
    z-index: -2;
    // background-color: $colour-text-body-light;
  }

  &.doubleSpacing {
    @include responsive-margin-top-bottom(50px, 60px);
  }

  &.noSpacing {
    margin: 0 !important;
  }
  
  &.secondary {

    box-shadow: inset 0 0 0 1px $colour-text-body-levy;
    color: $colour-text-body-light;

    &:before,
    &:after {
      background-color: $colour-text-body-light ;
    }

    &:after {
      transform: translateX(0);
      background-color: $colour-text-body-levy;
      z-index: -2;
    }
  }

  &.eurest-btn--orange {
    box-shadow: inset 0 0 0 1px $bg-orange;
    color: $bg-green;  

    &:before,
    &:after {
      background-color: $bg-green;
    }
  
    &:after {
      transform: translateX(0);
      background-color: $bg-orange;
      z-index: -2;
    }
  }

  &.eurest-btn--white {
    box-shadow: inset 0 0 0 1px $bg-white;
    color: $text-blue;  

    &:before,
    &:after {
      background-color: $bg-white;
    }
  
    &:after {
      transform: translateX(0);
      background-color: $bg-white;
      z-index: -2;
    }
  }

  &.eurest-btn--blue {
    box-shadow: inset 0 0 0 1px $bg-blue;
    color: $text-white;  

    &:before,
    &:after {
      background-color: $bg-blue;
    }
  
    &:after {
      transform: translateX(0);
      background-color: $bg-blue;
      z-index: -2;
    }
  }
}
  
  @include mediaMin($tablet-l) {
  
    .eurest-btn:focus,
    .eurest-btn:hover {
      outline: none;
      color: $colour-text-body-light;
      box-shadow: inset 0 0 0 1px #fff;
  
      &:before {
        background-color: transparent;
        transform: translateX(0);
      }

      &::after {
        background-color: transparent;
        transform: translateX(0);
      }
    }
  
    .eurest-btn.secondary:focus,
    .eurest-btn.secondary:hover {
      outline: none;
      color: $colour-text-body-levy;
      box-shadow: inset 0 0 0 1px $colour-text-body-levy;;
  
      &:before {
        background-color: $colour-text-body-light;
        transform: translateX(0);
      }
    }

    .eurest-btn--white:focus,
    .eurest-btn--white:hover {
      outline: none;
      color: $text-white;
      box-shadow: inset 0 0 0 1px $bg-white;
  
      &:before {
        background-color: transparent;
        transform: translateX(0);
      }

      &::after {
        background-color: transparent;
        transform: translateX(0);
      }
    }

    .eurest-btn--blue:focus,
    .eurest-btn--blue:hover {
      outline: none;
      color: $text-blue;
      box-shadow: inset 0 0 0 1px $bg-blue;
  
      &:before {
        background-color: transparent;
        transform: translateX(0);
      }

      &::after {
        background-color: transparent;
        transform: translateX(0);
      }
    }
  }
  
  .button--wrapper {
    position: relative;
    z-index: 101;
  }