.featuredBanner__block__container {
    position: relative;
}

.featuredBanner__flex-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.featuredBanner__block__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;

    @include mediaMax($tablet-l) {
        width: 100%;
        height: 250px;
    }
}

.featuredBanner__intro {
    h1, h2, h3 {
        font-size: 40px;
        margin-bottom: 16px;
        padding-bottom: 0px;
        line-height: 1.23;
        font-weight: 500;

        @include mediaMax($tablet-l) {
            font-size: 28px;
        }
    }
}

