.featuredBanner__study {
    position: relative;
}

.featuredBanner__case {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mediaMax($laptop-s) {
        height: auto;
    }

    h1 {
        color: $text-blue;
    }

    h2 {
        margin-bottom: 80px;
        color: $text-blue;

        @include mediaMax($laptop-s) {
            margin-bottom: 20px;
        }
    }
}

.featuredBanner__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;

    @include mediaMax($laptop-s) {
        width: 100%;
    }
}

.featuredBanner__section {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.featuredBanner__bg__overlay {
    @include mediaMax($laptop-s) {
        width: 100%;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        opacity: 0.9;
    }
}