.home-billboard {
    position: relative;
    min-height: 700px;

    @include mediaMax($laptop-s) {
        min-height: 600px;
    }

    @include mediaMax($tablet-l) {
        min-height: unset;
    }

    @include mediaMax($tablet-l) {
        padding-top: 250px;
        flex-direction: column;
    }
}

.home-billboard__container {
    display: flex;

    @include mediaMax($tablet-l) {
        flex-direction: column;
    }
}

.home-billboard__box {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: $z-lvl-1;

    @include mediaMax($tablet-l) {
        width: 100%;
    }
}

.home-billboard__box__top {
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    @include mediaMax($laptop-s) {
        min-height: 300px;
    }

    @include mediaMax($tablet-l) {
        min-height: unset;
    }

    @include mediaMin($tablet-l) {
        background-color: transparent;
    }
    
    h1,
    p {
        color: $text-primary;
    }

    p {
        margin-bottom: 0px;
    }
}

.home-billboard__box__title {
    padding: 75px;

    @include mediaMax($laptop-s) {
        padding: 45px;
    }

    @include mediaMax($tablet-l) {
        padding: 40px 20px;
    }
}


.home-billboard__bg {
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;

    @include mediaMax($tablet-l) {
       width: 100%;
       height: 250px;
    }
}

.home-billboard__1 {
    position: absolute;
    top: 0;
    right: 0;
    height: 50%;
    width: 50%;

    @include mediaMax($tablet-l) {
        display: none;
    }
}

.home-billboard__2 {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50%;
    width: 50%;

    @include mediaMax($tablet-l) {
        display: none;
    }
}