.text-three-column {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;

    @include mediaMax($laptop-s) {
        justify-content: center;
    }
}

.text-three-column__box {
    width: 33.33%;

    @include mediaMax($laptop-s) {
        width: 50%;
    }

    @include mediaMax($tablet-m) {
        width: 100%;
    }
}

.text-three-column__inner {
    padding: 30px;
    text-align: center;

    @include mediaMax($tablet-m) {
        padding: 20px 10px;
    }
}