.blog-two-columns {
    display: flex;
    justify-content: space-between;

    @include mediaMax($laptop-s) {
        flex-wrap: wrap;
    }
}

.blog-two-columns__box {
    width: 49.5%;

    @include mediaMax($laptop-s) {
        width: 100%;
        margin-bottom: 20px;
    }
}

.blog-two-columns__box__inner {
    display: flex;
    min-height: 500px;
    height: 100%;

    @include mediaMax($laptop-s) {
        min-height: 300px;
    }
}

.blog-two-columns__text {
    flex-grow: 1;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &.half-width {
        width: 50%;
    }
}

.blog-two-columns__copy {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.blog-two-columns__image {
    width: 50%;

    @include mediaMax($laptop-s) {
        display: none;
    }
}

.blog-two-columns__bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}