.video-banner {
    display: flex;
    justify-content: center;
    position: relative;

    &::after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='90' viewBox='0 0 565.648 565.648' width='90'%3E%3Cpath d='M282.824 0C126.877 0 0 126.877 0 282.824s126.877 282.824 282.824 282.824 282.824-126.877 282.824-282.824S438.771 0 282.824 0zm-70.706 424.233V141.411l212.118 141.41z' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23FFF'/%3E%3C/svg%3E");
        position: absolute;
        left: 50%;
        opacity: .8;
        top: 50%;
        transform: translate(-50%, -50%);
    }

}

.video-banner__image {
    display: block;
    width: 100%;
}