.large-video__wrapper {
    position: relative;

    @include mediaMax($tablet-s) {
        display: flex;
        flex-direction: column;
    }
}

.large-video {
    width: 50%;
    padding: 90px 0px;

    @include mediaMax($laptop-s) {
        width: 50%;
        padding: 60px 0px;
    }

    @include mediaMax($tablet-s) {
        width: 100%;
        padding: 30px 0px;
    }
}

.large-video__container {
    @include mediaMax($tablet-s) {
        order: 2;
    }
}

.large-video__box {
    margin-right: 80px;

    @include mediaMax($laptop-s) {
        margin-right: 40px;
    }
}

.large-video__bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    max-width: 1100px;
    height: 100%;

    @include mediaMax($laptop-s) {
        width: 50%;
    }

    @include mediaMax($tablet-s) {
        order: 0;
        position: relative;
        width: 100%;
        height: 325px;
    }

    &::after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='90' viewBox='0 0 565.648 565.648' width='90'%3E%3Cpath d='M282.824 0C126.877 0 0 126.877 0 282.824s126.877 282.824 282.824 282.824 282.824-126.877 282.824-282.824S438.771 0 282.824 0zm-70.706 424.233V141.411l212.118 141.41z' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23FFF'/%3E%3C/svg%3E");
        position: absolute;
        left: 50%;
        opacity: .8;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.large-video__date {
    margin-bottom: 20px;
}

.large-video__title {
    margin-bottom: 30px;
}

.large-video__text {
    margin-bottom: 120px;

    @include mediaMax($laptop-s) {
    }   margin-bottom: 40px;
}


//------------------------------------
//	Revert
//------------------------------------
.large-video__wrapper.class {
    .large-video__bg {
        right: unset;
        left: 0;
        width: 50%;

        @include mediaMax($laptop-s) {
            width: 50%;
        }
    
        @include mediaMax($tablet-s) {
            order: 0;
            position: relative;
            width: 100%;
            height: 325px;
        }
    
    }

    .large-video {
        margin-left: auto;
    }

    .large-video__box {
        margin-right: 0px;
        margin-left: 60px;

        @include mediaMax($laptop-s) {
            margin-left: 40px;
        }

        @include mediaMax($tablet-s) {
            margin-left: 0px;
        }
    }
}