.archiveLinks__block {
  position: relative;
  overflow: hidden;
  //@include responsive-margin-top-bottom(-20px, -70px);
  margin-top: 0 !important;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: top center;

  @media all and (-ms-high-contrast:none) {
    background-attachment: scroll;
  }

  @include mediaMax($tablet-s) {
    background-size: 600%;
  }

  .pure-g.horizontal--scroll .pure-u-1 {
    @include mediaMax($tablet-l) {
      min-width: 40% !important;
    }
    @include mediaMax($tablet-s) {
      min-width: 60% !important;
    }
  }

  .case--studies--list {
    position: relative;
    z-index: 3;

    .negative--margin {
      @include responsive-margin-top-bottom(-20px, -70px);
      margin-top: 0 !important;
    }
  }

  .case--studies--categories {
    position: relative;
    z-index: 3;
    line-height: 0;
    font-size: 0;
    @include responsive-padding-top-bottom(50px, 50px);
    padding-top: 0 !important;
    margin: 0 -25px;

    @include mediaMax($tablet-s) {
      //columns: 2;
    }

    li {
      display: inline-block;
      cursor: pointer;

      &.active {
        a {
          color: $text-secondary;
          font-weight: 600;
        }
      }

      a {
        color: $text-secondary;
        font-weight: 400;
        @include responsive-font-size(14px, 16px);
        text-transform: uppercase;
        padding: 5px 15px;
        transition: color 0.4s cubic-bezier(0.7, 0, 0.3, 1);

        @include mediaMin($laptop-l) {
          &:hover {
            color: $text-secondary;
          }
        }

        @include mediaMax($tablet-s) {
          padding: 5px 11px;
        }
      }
    }

  }

  .partnerships__filter {
    justify-content: flex-start;
    transition: 0.3s all;
  }

  .negative--margin {
    @include responsive-margin-left-right(-10px, -45px);
    @include responsive-margin-top-bottom(10px, 45px);
    margin-top: 0 !important;

    @include mediaMax($laptop-l) {
      @include responsive-margin-left-right(-20px, -20px);
    }
  }

  .h4 {
    color: $text-secondary;
    @include responsive-font-size(22px, 30px);
    text-transform: uppercase;
    padding: 0 !important;
    transition: color 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  }

  i {
    color: $text-secondary;
    @include responsive-font-size(14px, 16px);
    text-transform: uppercase;
    font-weight: 700;
  }

  .link__container {
    @include responsive-margin-left-right(10px, 50px);
    @include responsive-margin-top-bottom(15px, 30px);
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
    //max-width: 325px;
    min-height: 108px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mediaMax($laptop-s) {
      @include responsive-margin-left-right(15px, 15px);
      //margin-bottom: 40px !important;
    }

    @include mediaMax($tablet-s) {
      min-height: 0;
    }

    @include mediaMin($laptop-s) {
      a {
        &:hover {
          .h4 {
            color: $text-secondary;
          }
        }
      }
    }
  }

  .wrapper__image,
  .wrapper__parallax,
  .mask--overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    z-index: 1;
    background-color: transparent;
  }

  .mask--overlay {
    background-color: rgba($colour-text-body-levy, 0.8);
    z-index: 2;
  }

  .wrapper__parallax {
    height: calc(100% + 200px);
    top: -100px;
    z-index: 1;
  }

}
