.bannerSlider__block {
  position: relative;
  overflow: hidden;

  &.extended {
    @include responsive-padding-top-bottom(50px, 90px);

    @include mediaMax($tablet-s) {
      padding: 0 !important;
    }
  }

  .pattern--background {
    position: absolute;
    height: calc(100% + 200px);
    top: -100px;
  }

  .slick-dots {
    @include mediaMin($tablet-s) {
      display: none !important;
    }
  }

  .slick-next {

  }

  .bannerSlider__slider {
    @include responsive-padding-top-bottom(50px, 150px);

    @include mediaMax($tablet-s) {
      //padding-bottom: 80px !important;
    }

    .slide {

      .inner--slide {
        text-align: center;

        blockquote {

          p {
            @include responsive-font-size(18px, 32px);
            color: $text-blue;
            margin-bottom: 0;
          }

          footer {
            @include responsive-font-size(16px, 20px);
            color: $text-white;
            font-weight: 700;
            position: relative;
            @include responsive-margin-top-bottom(30px, 60px);
            margin-bottom: 0 !important;
          }
        }
      }
    }

    .slick-track {
      display: flex;
      align-items: center;
    }
  }
}
