.contact__block {

  .address--wrapper {
    position: relative;
    @include responsive-padding-top-bottom(33px, 60px);
    padding-top: 0 !important;
    @include responsive-margin-top-bottom(30px, 54px);
    margin-top: 0 !important;

    &:after {
      content: '';
      position: absolute;
      height: 5px;
      width: 100px;
      bottom: 0;
      left: 0;
      background-color: $colour-text-body;
    }

    address {
      font-style: normal;
    }

    ul {
      line-height: 0;
      font-size: 0;
      margin: 0 -20px;
      li {
        display: inline-block;
        border-right: 2px solid $colour-text-body;
        @include responsive-font-size(15px, 18px);
        padding: 0 20px;
        font-weight: 700;

        &:last-of-type {
          border: 0;
        }

        @include mediaMax($tablet-s) {
          border: 0;
          margin: 4px 0;
        }
      }
    }
  }

  .negative--margin {

    .pure-u-1 {
      &:nth-of-type(2) {
        border-left: 1px solid #999;
      }
    }

    @include responsive-margin-left-right(-30px, -150px);

    .column--spacer {
      height: 100%;
      @include responsive-padding-left-right(30px, 150px);
    }
  }

  #gmap {
    width: 100%;
    height: 100%;
    max-height: 347px;
    display: block;

    @include mediaMax($tablet-s) {
      min-height: 300px;
      margin-top: 40px;
      margin-left: -20px;
      margin-right: -20px;
      width: calc(100% + 40px);
    }
  }

  .contact--form--wrapper {

    .intro {
      h2 {
        @include responsive-margin-top-bottom(30px, 50px);
        margin-top: 0 !important;
      }
    }

    .btn {
      cursor: pointer;
      text-align: center;
      padding: 17px 60px 17px 48px !important;
      text-decoration: none;
      display: inline-block;
      transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
      @include responsive-font-size(12px, 12px);
      font-family: $font-beta;
      font-weight: 600;
      @include responsive-margin-top-bottom(30px, 36px);
      margin-bottom: 0 !important;
      color: $colour-text-body-light;
      position: relative;
      border: 0;
      border-left: 5px solid $gold-reading;
      overflow: hidden;
      text-transform: uppercase;
      letter-spacing: 2px;
      box-shadow: inset 0 0 1px 1px $brand-reading;
      width: auto !important;
      background-color: $colour-text-body;
      line-height: normal !important;
      margin-top: 15px;

      &:focus,
      &:hover {
        background-color: #fff;
        color: $colour-text-body;
      }
    }

  }

  .description--wrapper {
    @include responsive-padding-top-bottom(30px, 50px);
    padding-bottom: 0 !important;

    @include mediaMax($tablet-s) {
      padding-bottom: 40px !important;
    }

    strong {
      font-weight: 700;
    }
  }
}

// Reading specific styles

.reading {

  .contact__block {

    input,
    textarea {

      &:focus {
        border-color: $light-blue-reading;
      }
    }

    .address--wrapper {

      &:after {
        background-color: $gold-reading;
      }

      ul {
        li {
          border-color: $light-blue-reading;
        }
      }
    }

    .contact--form--wrapper {

      .btn {
        border-left: 5px solid $gold-reading;
        background-color: $brand-reading;

        &:focus,
        &:hover {
          background-color: #fff;
          color: $brand-reading;
          box-shadow: inset 0 0 1px 1px $gold-reading;
        }
      }

    }

  }

}


// sheffield specific styles

.sheffield {

  .contact__block {

    input,
    textarea {

      &:focus {
        border-color: $light-red-sheffield;
      }
    }

    .address--wrapper {

      &:after {
        background-color: $gold-sheffield;
      }

      ul {
        li {
          border-color: $light-red-sheffield;
        }
      }
    }

    .contact--form--wrapper {

      .btn {
        border-left: 5px solid $gold-sheffield;
        background-color: $brand-sheffield;

        &:focus,
        &:hover {
          background-color: #fff;
          color: $brand-sheffield;
          box-shadow: inset 0 0 1px 1px $gold-sheffield;
        }
      }

    }

  }

}

// Cardiff specific styles

.cardiff {

  .contact__block {

    input,
    textarea {

      &:focus {
        border-color: $light-blue-cardiff;
      }
    }

    .address--wrapper {

      &:after {
        background-color: $gold-cardiff;
      }

      ul {
        li {
          border-color: $light-blue-cardiff;
        }
      }
    }

    .contact--form--wrapper {

      .btn {
        border-left: 5px solid $gold-cardiff;
        background-color: $brand-cardiff;

        &:focus,
        &:hover {
          background-color: #fff;
          color: $brand-cardiff;
          box-shadow: inset 0 0 1px 1px $gold-cardiff;
        }
      }

    }

  }

}