.content50__block {
  position: relative;

  .wrapper__padding {
    @include responsive-padding-top-bottom(40px, 80px);
  }

  .inner--logo {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translateX(50%) translateY(50%);
    z-index: 100;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 338px;
    padding: 40px;
    padding-bottom: 50%;

    @include mediaMax($tablet-s) {
      max-width: 240px;
      height: 100%;
    }
  }

  &.home {
    .wrapper__image {
      @include mediaMax($tablet-s) {
        margin: 0 -20px;
        width: calc(100% + 40px) !important;
      }
    }
  }

  &.no-overlap {
    overflow: hidden;
    min-height: 60vh;

    .wrapper__image {

      min-height: 70vh;
    }
  }

  &.bottom-overlap {
    .wrapper__image {
      bottom: 0 !important;
      top: auto !important;
    }
  }

  &.top-overlap {
    .wrapper__image {
      top: 0 !important;
      bottom: auto !important;
    }
  }

  &.background__white {
    .content__container {
      h2, p {
        color: $colour-text-body-levy !important;
      }
    }

    .inner--image {
      &:after {
        background-color: #fff;
      }
    }
  }

  &.reverse {

    .pure-g {
      flex-direction: column-reverse;
    }

    .content__container {
      padding-left: 0 !important;
    }

    .wrapper__image {
      overflow: hidden;
      position: absolute;
      width: calc(50% + 3%);
      height: calc(100% + 100px);
      right: 0;
      top: 0;
      background-color: $main-background;
      z-index: 110;

      @include mediaMax($tablet-l) {
        width: 100%;
        position: relative;
        height: 35vh;
      }
    }

    .inner--image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
  }

  &.normal {
    .content__container {
      padding-right: 0 !important;
    }

    .wrapper__image {
      overflow: hidden;
      position: absolute;
      width: 50%;
      height: calc(100% + 100px);
      left: 0;
      top: 0;
      z-index: 110;

      @include mediaMax($tablet-l) {
        width: 100%;
        position: relative;
        height: 34vh;
      }
    }

    .inner--image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
  }

  .content__container {

    @include responsive-padding-left-right(1px, 140px);

    .regular--content {
      max-width: 1130px;

      ul,
      ol {
        list-style: none;
        padding: 0;
        padding-left: 1.5em;
        padding-bottom: 1.25rem;
        padding-top: 1.25rem;
        position: relative;
        li {
          text-align: left;
          @include responsive-font-size(16px, 18px);
          padding: 5px 0;

          &:before {
            content: '\2022';
            color: $brand-primary;
            padding-right: 0.75rem;
            display: inline-block;
            position: absolute;
            left: 0;
            font-size: 2rem;
            line-height: 20px;
          }
        }
      }
      ol {
        list-style: auto;
        li {
          &:before {
            content: '';
            display: none;
          }
        }
      }

      p {
        @include responsive-font-size(16px, 18px);
        max-width: 614px;
        font-weight: 400;
      }
    }
  }
}

.fifty-carousel {
  height: 100%;
  
  .slick-list  {
    height: 100%;
  }

  
  .slick-track {
    height: 100%;
  }
}

.content50__block {
  $arrow-button-size: 50px;
  .feed-arrows {
    width: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    z-index: 120;

    @include mediaMax($tablet-l) {
      display: none;
    }

    .left-fifty-arrow {
      width: $arrow-button-size;
      height: $arrow-button-size;
      float: left;
      background-color: $bg-orange-light;
      transition: background-color 0.4s cubic-bezier(0.7, 0, 0.3, 1);

      @include mediaMin($laptop-s) {
        &:hover,
        &:focus {
          background-color: $bg-orange-light;
          color: #fff;

          i {
            color: #fff;
          }
        }
      }

      i {
        line-height: 15px;
        color: $text-blue;
        font-size: 22px;
        transition: color 0.4s cubic-bezier(0.7, 0, 0.3, 1);
      }
    }

    .right-fifty-arrow {
      width: $arrow-button-size;
      height: $arrow-button-size;
      float: right;
      background-color: $bg-orange;
      transition: background-color 0.4s cubic-bezier(0.7, 0, 0.3, 1);

      @include mediaMin($laptop-s) {
        &:hover,
        &:focus {
          background-color: $bg-orange;

          i {
            color: #fff;
          }
        }
      }

      i {
        line-height: 15px;
        color: $text-blue;
        font-size: 22px;
        transition: color 0.4s cubic-bezier(0.7, 0, 0.3, 1);
      }
    }

    .arrows {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .feed-container {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
  }
}

.content50__block.reverse {
  .feed-arrows {
    left: unset;
    right: 53%;
    transform: translateX(50%);
  }
}