.downloads__block {
  background-color: $colour-text-body;
  position: relative;
  overflow: hidden;

  .h1 {
    @include responsive-padding-top-bottom(34px, 60px);
    @include responsive-font-size-heading(32px, 82px);
    text-transform: uppercase;
    font-weight: 700;
  }

  .negative--margin {
    @include responsive-margin-left-right(-10px, -45px);
    @include responsive-margin-top-bottom(-10px, -30px);
    margin-top: 0 !important;

    @include mediaMax($laptop-l) {
      @include responsive-margin-left-right(-20px, -20px);
    }
  }

  .link__container {
    @include responsive-margin-left-right(10px, 18px);
    @include responsive-margin-top-bottom(30px, 30px);
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);

    @include mediaMax($laptop-l) {
      @include responsive-margin-left-right(15px, 15px);
      //margin-bottom: 40px !important;
    }

    @include mediaMin($laptop-l) {
      &:hover,
      &:focus {

        h4 {
          text-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        }

        .image__wrapper {

          svg {
            transform: translateY(-15px);
          }

          .hover {
            fill: $colour-text-body;
          }
        }
      }
    }

    h4 {
      color: $colour-text-body-light;
      font-family: $font-beta;
      font-weight: 700;
      max-width: 150px;
      margin: 0 auto;
      @include responsive-font-size(16px, 18px);
      position: relative;
      text-transform: uppercase;
      @include responsive-padding-top-bottom(15px, 20px);
      padding-bottom: 0 !important;
      transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
    }

    .image__wrapper {
      min-height: 105px;
      fill: $colour-text-body-light;

      svg {
        transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);

        .hover {
          transition: fill 0.4s cubic-bezier(0.7, 0, 0.3, 1);
        }
      }
    }
  }

  .pure-g {

    &.leftAlign {
      justify-content: flex-start;
    }
    &.rightAlign {
      justify-content: flex-end;
    }

    &.horizontal--scroll {
      @include mediaMax($tablet-s) {
        .pure-u-1 {
          min-width: 60% !important;
        }
      }
    }
  }

}

// Reading specific styles

.reading {
  .downloads__block {
    background-image: $reading-gradient-background;

    .link__container {

      @include mediaMin($laptop-l) {
        &:hover,
        &.focus {

          .image__wrapper {

            .hover {
              fill: $gold-reading;
            }
          }
        }
      }
    }
  }
}

// sheffield specific styles

.sheffield {
  .downloads__block {
    background-image: $sheffield-gradient-background;

    .link__container {

      @include mediaMin($laptop-l) {
        &:hover,
        &.focus {

          .image__wrapper {

            .hover {
              fill: $gold-sheffield;
            }
          }
        }
      }
    }
  }
}

// cardiff specific styles

.cardiff {
  .downloads__block {
    background-image: $cardiff-gradient-background;

    .link__container {

      @include mediaMin($laptop-l) {
        &:hover,
        &.focus {

          .image__wrapper {

            .hover {
              fill: $gold-cardiff;
            }
          }
        }
      }
    }

  }
}