.featuredBanner__block {
  position: relative;
  overflow: hidden;

  .wrapper__parallax.constrained {
    .border-box {
      position: absolute;
      top: 0;
      right: 50%;
      width: 100%;
      height: 100%;
      transform: translateX(50%);
      overflow: hidden;
    }
  }


  .section__constrained {
    position: relative;
    z-index: 10;
    line-height: 0;
  }

  .featuredBanner__box {
    width: 50%;

    @include mediaMax($tablet-l) {
      width: 100%;
      padding-top: 250px;
    }
  }
  

  .button--wrapper {
    position: relative;
    z-index: 10;
  }

  .content--wrapper {

    p {
      @include responsive-font-size(16px, 18px);

      &:last-of-type {
        margin: 0;
      }
    }
  }

  .wrapper__image,
  .wrapper__parallax,
  .wrapper__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    z-index: 1;
    background-color: transparent;
  }

  .wrapper__parallax {
    height: calc(100% + 200px);
    top: -100px;

    &.divider-block {
      opacity: 0.2;

    }
  }

  .btn {
    margin: 0 !important;
  }

  .constrained--parallax {
    position: absolute;
    height: 100%;
  }

  .two-column {

    &.heading {

      .block--spacer {
        @include responsive-margin-top-bottom(40px, 240px);
        margin-bottom: 0 !important;
      }

      .content--wrapper {
        @include responsive-padding-top-bottom(30px, 60px);
        @include responsive-padding-left-right(30px, 40px);

        @include mediaMax($tablet-s) {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }


        .h2 {
          padding: 0 !important;
          @include responsive-font-size-heading(30px, 50px);
          max-width: 614px;
        }

        p {
          color: $text-blue;
          @include responsive-margin-top-bottom(30px, 40px);
          margin-bottom: 0 !important;
        }

        .overlay {
          width: 100%;

          @include mediaMax($tablet-s) {
            margin-left: -20px !important;
            margin-right: -20px !important;
            width: calc(100% + 40px);
          }
        }
      }

      .case--studies--details {
        width: 50%;

        @include mediaMax($laptop-s) {
          width: 100%;
          padding-top: 75px;
        }

        .block--spacer--case {
          @include responsive-margin-top-bottom(40px, 120px);

          @include mediaMax($tablet-s) {
            margin: 0 !important;
          }
        }

        .content--wrapper {
          @include responsive-padding-top-bottom(25px, 40px);

          .h2 {
            @include responsive-font-size-heading(34px, 50px);
            max-width: none;
            @include responsive-margin-top-bottom(25px, 40px);
            margin-top: 0 !important;
          }

          table {

            td {
              color: $colour-text-body-light;
              font-weight: 400;
              @include responsive-font-size-heading(16px, 18px);
              vertical-align: top;

              ul {
                columns: 2;
                margin-bottom: -10px;
                column-gap: 50px;

                @include mediaMax($laptop-s) {
                  columns: 1;
                }

                li {
                  padding-bottom: 10px;
                }
              }

              &.spacer {
                min-width: 210px;
                padding-bottom: 25px;

                @include mediaMax($tablet-s) {
                  min-width: 140px;
                }
              }
            }
          }
        }
      }
    }

    &.partnerships--child {
      .section__constrained {
        .partnerships--child--content,
        .logo--wrapper {
          flex: 0 0 45%;
        }

        .partnerships--child--content {
          display: flex;
          align-items: flex-end;
          max-height: 515px;
          height: 55vh;

          @include mediaMax($tablet-s) {
            max-height: none;
            height: auto;
          }

          .content--wrapper {
            width: 100%;
          }
        }
      }

      .content--wrapper {
        @include mediaMax($tablet-s) {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }

        .overlay {

          @include mediaMax($tablet-s) {
            margin-left: -20px !important;
            margin-right: -20px !important;
            width: calc(100% + 40px);
          }
        }

      }

      .block--spacer {
        @include mediaMax($tablet-s) {
          margin: 0 !important;
        }
      }
    }


    .section__constrained {
      display: flex;
      justify-content: space-between;

      @include mediaMax($laptop-s) {
        flex: 0 0 50%;
      }

      @include mediaMax($tablet-s) {
        flex-flow: column;
      }
    }

    .logo--wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;

      @include mediaMax($laptop-s) {
        flex: 0 0 50%;
      }

      @include mediaMax($tablet-s) {
        min-height: 20vh;
      }

      &.case--studies {
        flex: 0 0 50%;
      }

      .inner--logo--wrapper {
        @include responsive-padding-top-bottom(40px, 50px);
        @include responsive-padding-left-right(40px, 50px);
        max-height: 350px;
        max-width: 650px;
        min-height: 200px;
        min-width: 300px;
        width: 100%;
        height: 100%;
      }

      .inner--logo {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .spacer--wrapper {
      display: flex;
      align-items: flex-end;
      // max-height: 515px;

      @include mediaMax($tablet-s) {
        max-height: none;
        height: auto;
      }
    }

    .block--spacer {
      @include responsive-margin-top-bottom(40px, 150px);
      margin-bottom: 0 !important;

      @include mediaMax($tablet-s) {
        display: none;
      }
    }

    .content--wrapper {
      margin: 0 !important;
      @include responsive-padding-top-bottom(30px, 90px);
      @include responsive-padding-left-right(30px, 60px);
      position: relative;
      z-index: 110;
      width: 100%;

      .btn {
        box-shadow: inset 0 0 1px 1px $colour-text-body-light;
      }

      .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;

        @include mediaMax($laptop-l) {
          width: 150% !important;
        }
      }


      h2 {
        max-width: 614px;

        @include mediaMax($laptop-s) {
          max-width: none;
        }
      }
    }
  }

  .one-column {
    .inner--logo {
      @include responsive-margin-top-bottom(40px, 70px);
      margin-top: 0 !important;

      img {
        max-width: 500px;
        max-height: 200px;
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
  }

  .divider-block {
    .inner--logo {
      margin: 0 !important;

      img {
        max-width: 500px;
        max-height: 200px;
        object-fit: contain;
        width: 100%;
        height: 100%;

        @include mediaMax($tablet-s) {
          max-height: 150px;
          max-width: 320px;
        }
      }
    }
  }
}

.intro__text {
  position: relative;
  @include responsive-padding-top-bottom(40px, 55px);

  $separator-width: 90px;

  .intro--wrapper {
    @include responsive-margin-top-bottom(40px, 25px);
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  p {
    text-align: center;
    color: $colour-text-body-light;
    @include responsive-font-size(16px, 18px);

    &:last-of-type {
      margin-bottom: 0 !important;
    }
  }

  h2 {
    text-align: center;
    padding: 0;
    @include responsive-margin-top-bottom(40px, 15px);
    margin-top: 0 !important;

    @include mediaMax($tablet-s) {
      margin-bottom: 15px !important;
    }
  }

}

.featuredBanner__content {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 60px 20px 80px 80px !important;

  @include mediaMax($tablet-l) {
    height: auto;
    padding: 40px 20px 40px 0px !important;
  }

  h1, h2 {
    color: $text-white;
  }

  h2 {
    margin-bottom: 0px;
  }
}