.fullwidthSlider__block {

  .fullwidthSlider__slider {

    .slide {
      max-height: 845px;
      height: 70vh;
      background-position: center;
      background-size: cover;

      @include mediaMax($tablet-l) {
        height: auto;
      }

      .inner--slide {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        @include responsive-padding-top-bottom(70px, 90px);

        &:after {
          content: '';
          position: absolute;
          width: 60%;
          height: 100%;
          z-index: 0;
          top: 0;
          left: 0;
          background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
        }

        p {
          @include responsive-font-size(18px, 30px);
          color: $colour-text-body-light;
        }

        .btn {
          margin-top: 0 !important;
        }

        ul {
          line-height: 0;
          font-size: 0;

          li {
            display: inline-block;
            padding-right: 30px;

            @include mediaMax($tablet-l) {
              padding-right: 0;
              padding-bottom: 15px;
            }
          }
        }
      }


      .section__constrained {
        position: relative;
        z-index: 10;
        width: 100%;
      }

      h1 {
        max-width: $max-width / 2;
      }
    }
  }

}