.gallery__block {

  .wrapper__padding {
    @include mediaMax($tablet-s) {
      padding-bottom: 0 !important;
    }
  }

  .gallery-slider {

    @include mediaMax($tablet-s) {
      margin: 0 -30px;
    }

    .slick-slide {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.gallery-slider-nav__wrapper {
  display: flex;
  justify-content: flex-end;

  @include mediaMax($tablet-s) {
    display: none;
  }

  .gallery-slider-nav {

    margin-top: 20px;
    max-width: 612px;
    width: 100%;

    .slick-slide {
      margin: 0 3px;
    }

    img {
      width: 200px;
    }
  }
}

// Reading specific styles

