.generalContent__block {

  &.with--gradient {
    background-image: $grey-gradient-background;
  }

  .wrapper__text {
    max-width: 1200px;
  }
}

// Reading specific styles

.reading {
  .styledContent__block {

    i{
      color: $light-blue-reading;
    }

    .content__container {
      &:before {
        background-color: $gold-reading;
      }
    }
  }
}

// sheffield specific styles

.sheffield {
  .styledContent__block {

    i{
      color: $light-red-sheffield;
    }

    .content__container {
      &:before {
        background-color: $gold-sheffield;
      }
    }
  }
}

// cardiff specific styles

.cardiff {
  .styledContent__block {

    i{
      color: $light-blue-cardiff;
    }

    .content__container {
      &:before {
        background-color: $gold-cardiff;
      }
    }
  }
}


