.three-column-link {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -8px;

  @include mediaMax($tablet-l) {
      display: block;
      justify-content: flex-start;
  }
}
.three-column-link__box {
  width: 33.33%;
  margin-bottom: 0px;
  outline: 0;
  margin-bottom: 50px;
  
  @include mediaMax($laptop-s) {
    margin-bottom: 40px;
  }
}
.three-column-link__inner {
  display: flex;
  margin: 0px 8px;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.three-column-link__copy {
  color: $text-white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding: 40px 30px 100px 40px;
}
.three-column-link__title {
  margin-bottom: 20px;
}
.three-column-link__text {
  margin-bottom: 25px;
}
.three-column-link__img {
  img {
      width: calc(100% + 1px);
      display: block;
      transform: scale(1);
      transition: all .5s ease-in-out;
  }
}
.three-column-link__copy--top {
  transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

@include mediaMin($laptop-s) {
  .three-column-link__inner {
    &:hover,
    &:active {

      img {
        transform: scale(1.01);
        opacity: 0.7;
      }

    }
  }
}


.links__block {

  .negative--margin {
    margin: -8px;
  }

  &.partnerships--archive {
    position: relative;
    overflow: hidden;

    .news-cta {
      @include responsive-margin-top-bottom(10px, 36px);
      max-height: 400px;
      height: 40vh;

      .content--wrapper {
        //width: 100%;
      }
    }

    .pure-g {
      justify-content: flex-start;
    }

    .wrapper__padding {
      position: relative;
      z-index: 2;
    }

    .relative--background {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      top: 0;
      left: 0;
      @include responsive-margin-top-bottom(100vh, 70vh);
      padding-bottom: 0 !important;

      .inner--background {
        width: 100%;
        height: 100%;
      }
    }

  }

  .intro--wrapper {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 150;
    display: flex;
    align-items: flex-end;
    flex: 100%;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.4s cubic-bezier(0.7, 0, 0.3, 1);

    &.active {
      opacity: 1;

      div {
        transform: translateY(0);
      }
    }

    div {
      transform: translateY(50px);
      transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
    }

    p {
      text-align: left;
      color: $colour-text-body-light;
      @include responsive-font-size(14px, 14px);
    }

    i {
      text-align: left;
      color: $colour-text-body-light;
      display: block;
      font-weight: 700;
      text-transform: uppercase;
      @include responsive-font-size(18px, 18px);
      @include responsive-margin-top-bottom(10px, 20px);
      margin-top: 0 !important;
    }
  }

  h2 {
    @include responsive-padding-top-bottom(50px, 50px);
    padding-top: 0 !important;
  }

  .news-cta {
    max-height: 550px;
    height: 55vh;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin-left: 8px;
    margin-right: 8px;

    @include mediaMin($laptop-s) {
      &:hover {
        .content--wrapper {
          transform: translateY(-20px);
          .overlay {
            transform: scale(8);
          }
        }
      }
    }

    .inner--image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }

    .content--wrapper {
      @include responsive-padding-left-right(20px, 30px);
      @include responsive-padding-top-bottom(20px, 32px);
      display: flex;
      align-items: center;
      transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
      position: relative;
      text-align: left;
      z-index: 110;

      .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
      }

      i {
        color: $colour-text-body-light;
        display: block;
        font-weight: 700;
        text-transform: uppercase;
        @include responsive-font-size(18px, 18px);
      }

      .btn {
        z-index: 10;
      }

      h3 {
        max-width: 500px;
        @include responsive-font-size-heading(26px, 32px);

        @include mediaMax($laptop-s) {
          padding: 0;
        }

        a {
          color: $colour-text-body-light;
        }
      }

      p {
        color: $colour-text-body-light;
        font-weight: 400;
        max-width: 500px;
        margin: 0;

        @include mediaMax($laptop-s) {
          display: none;
        }
      }
    }
  }
}
  