.news__block {
  overflow: hidden;

  &.background__white {
    h2 {
      color: $colour-text-body-light;
    }

    .feed-info-inner {
      p {
        color: $colour-text-body-levy !important;
      }
    }
  }

  .wrapper__padding {
    @include mediaMax($tablet-s) {
      padding-bottom: 0px !important;
    }
  }

  .instagram--feed--block {
    width: 100%;
    position: relative;
    margin-top: 50px;

    @include mediaMax($tablet-s) {
      margin-top: 0;
    }

    .instagram-feed-info {
      width: 100%;
      height: 100%;

      @include mediaMax($tablet-s) {
        padding-bottom: calc(50vh + 60px);
      }

      .feed-info-inner {
        width: 100%;
        height: 100%;
        @include responsive-padding-top-bottom(40px, 80px);
        @include responsive-padding-left-right(40px, 80px);
        padding-left: 0 !important;

        @include mediaMax($tablet-s) {
          padding-right: 0 !important;
          padding-top: 0 !important;
        }

        h3 {
          color: $text-white;
        }

        p {
          color: $colour-text-body-light;
          margin: 0;
        }
      }
    }

    .instagram-feed {

      $arrow-button-size: 50px;

      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 33.33%;

      @include mediaMax($laptop-s) {
        left: 50%
      }

      @include mediaMax($tablet-s) {
        height: 50vh;
        left: 0;
        bottom: 0;
        top: auto;
      }

      .feed-arrows {
        width: 100px;
        position: absolute;
        top: -$arrow-button-size;

        .left-arrow {
          width: $arrow-button-size;
          height: $arrow-button-size;
          float: left;
          background-color: $bg-orange-light;
          transition: background-color 0.4s cubic-bezier(0.7, 0, 0.3, 1);

          @include mediaMin($laptop-s) {
            &:hover,
            &:focus {
              background-color: $bg-orange-light;
              color: #fff;

              i {
                color: #fff;
              }
            }
          }

          i {
            line-height: 15px;
            color: $text-blue;
            font-size: 22px;
            transition: color 0.4s cubic-bezier(0.7, 0, 0.3, 1);
          }
        }

        .right-arrow {
          width: $arrow-button-size;
          height: $arrow-button-size;
          float: right;
          background-color: $bg-orange;
          transition: background-color 0.4s cubic-bezier(0.7, 0, 0.3, 1);

          @include mediaMin($laptop-s) {
            &:hover,
            &:focus {
              background-color: $bg-orange;

              i {
                color: #fff;
              }
            }
          }

          i {
            line-height: 15px;
            color: $text-blue;
            font-size: 22px;
            transition: color 0.4s cubic-bezier(0.7, 0, 0.3, 1);
          }
        }

        .arrows {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .feed-container {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
      }
    }

    .instagram-slider {
      $instagram-badge-size: 70px;

      width: calc(66.66% + 16px);
      height: 100%;

      @include mediaMax($tablet-l) {
        width: calc(50% + 16px);
      }

      @include mediaMax($tablet-s) {
        width: 100%;
      }

      .slick-list,
      .slick-track {
        height: 100%;
      }

      .slick-slide {
        color: white;
        height: 100%;
        background-size: cover;
        background-position: center;
        margin-right: 16px;
        position: relative;
        overflow: hidden;

        @include mediaMax($tablet-s) {
          margin-right: 0;
        }

        @include mediaMin($laptop-s) {
          &:focus,
          &:hover {
            .instagram-logo-link {
              transform: scale(15);
            }
          }
        }

        &.news {
          display: flex;
          align-items: flex-end;

          &:nth-of-type(odd) {
            align-items: flex-start;
          }

          .content--wrapper {
            width: 100%;
            display: flex;
            align-items: flex-end;

            i {
              color: $text-blue;
              display: block;
              font-weight: 700;
              text-transform: uppercase;
              @include responsive-font-size(16px, 16px);
              position: relative;
              z-index: 1;
              padding-top: 40px;
            }

            h2 {
              @include responsive-font-size-heading(22px, 34px);
              padding: 0;
              position: relative;
              z-index: 1;
              color: $text-blue;
            }

            .overlay {
              position: absolute;
              height: 100%;
              width: 100%;
              top: 0;
              left: 0;
              z-index: 0;
            }

          }
        }
      }

      .icon--wrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: $instagram-badge-size;
        height: $instagram-badge-size;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 11;

        i {
          color: $text-blue;
          font-size: 36px;
        }
      }

      .instagram-logo-link {
        width: $instagram-badge-size;
        height: $instagram-badge-size;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.6s cubic-bezier(0.7, 0, 0.3, 1);
      }
    }

    .carousel-text__wrapper {
      padding: 0px 20px;
      width: 100%;
    }
  }
}
