.singleImage__block {
  background-color: #1A1A1A;
  position: relative;
  overflow: hidden;

  h3 {
    color: $colour-text-body-light
  }

  .section__constrained {
    position: relative;
    z-index: 10;
  }

  .image--wrapper {
    img {
      width: 100%;
      max-width: 1170px;
    }
  }

  .content--wrapper {
    @include responsive-margin-top-bottom(10px, 40px);
    margin-top: 0 !important;

    p {
      @include responsive-font-size-heading(16px, 18px);

      &:last-of-type {
        margin: 0;
      }
    }
  }

}
