.styledContent__block {

  i {
    color: $colour-text-body;
    font-family: $font-beta;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    @include responsive-font-size(16px, 16px);
    @include responsive-margin-top-bottom(10px, 15px);
    margin-top: 0 !important;
  }

  h2 {
    max-width: 1000px;
  }

  .content__container {
    @include responsive-padding-left-right(20px, 40px);
    padding-right: 0 !important;
    @include responsive-margin-left-right(0, 150px);
    margin-right: 0 !important;
    overflow: hidden;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 5px;
      background-color: $colour-text-body;
      left: 0;
      top: 0;
      transform: translateY(-100%);
      transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
    }

    em {
      max-width: 940px;
      font-style: normal;
      display: block;
      @include responsive-font-size(18px, 22px);
      @include responsive-margin-top-bottom(20px, 36px);
      margin-top: 0 !important;
    }

    .regular--content {
      max-width: 1130px;

      &.columns--2 {
        columns: 2;
        column-gap: 30px;

        @include mediaMax($tablet-s) {
          columns: 1;
        }
      }

      p {
        @include responsive-font-size(16px, 18px);

        &:last-of-type {
          margin: 0;
        }
      }
    }
  }
}

// Reading specific styles

.reading {
  .styledContent__block {

    i{
      color: $light-blue-reading;
    }

    .content__container {
      &:before {
        background-color: $gold-reading;
      }
    }
  }
}

// sheffield specific styles

.sheffield {
  .styledContent__block {

    i{
      color: $light-red-sheffield;
    }

    .content__container {
      &:before {
        background-color: $gold-sheffield;
      }
    }
  }
}

// cardiff specific styles

.cardiff {
  .styledContent__block {

    i{
      color: $light-blue-cardiff;
    }

    .content__container {
      &:before {
        background-color: $gold-cardiff;
      }
    }
  }
}
