/*#wpadminbar {*/
	/*background: #004661;*/
/*}*/

/*#wpadminbar .menupop .ab-sub-wrapper, #wpadminbar .shortlink-input {*/
	/*background: #004661;*/
/*}*/

/*#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu div.wp-menu-name {*/
	/*color: #004661;*/
/*}*/

/*#adminmenu .opensub .wp-submenu li.current a, #adminmenu .wp-submenu li.current, #adminmenu .wp-submenu li.current a, #adminmenu .wp-submenu li.current a:focus, #adminmenu .wp-submenu li.current a:hover, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a, #adminmenu .wp-submenu .wp-submenu-head, #adminmenu .current div.wp-menu-image::before, #adminmenu .wp-has-current-submenu div.wp-menu-image::before, #adminmenu a.current:hover div.wp-menu-image::before, #adminmenu a.wp-has-current-submenu:hover div.wp-menu-image::before, #adminmenu li.wp-has-current-submenu:hover div.wp-menu-image::before, #adminmenu li:hover div.wp-menu-image::before {*/
	/*color: #004661;*/
/*}*/

/*#wpfooter {*/
	/*display: none;*/
/*}*/

/*#adminmenu li a:focus div.wp-menu-image::before, #adminmenu li.opensub div.wp-menu-image::before, #adminmenu li:hover div.wp-menu-image::before {*/
	/*color: #006d97 !important;*/
/*}*/

/*.wp-core-ui .button-group.button-small .button, .wp-core-ui .button.button-small {*/
	/*border-radius: 5px;*/
	/*overflow: hidden;*/
/*}*/

/*.wp-core-ui .button-primary.focus, .wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover {*/
	/*!*background: #004661;*!*/
/*}*/

/*.wp-core-ui .button:hover, .wp-core-ui .button-secondary:hover, .wp-core-ui .button-primary {*/
	/*!*background: #004661;*!*/
/*}*/

/*.postbox {*/
	/*border-radius: 5px;*/
	/*overflow: hidden;*/
/*}*/