.caseStudiesStats__block {
  .single--stat {
    @include responsive-padding-left-right(10px, 20px);
    display: flex;
    align-items: center;
    justify-content: center;

    @include mediaMax($tablet-l) {
      @include responsive-padding-top-bottom(20px, 40px);
    }

    i {
      @include responsive-font-size-heading(22px, 34px);
      text-transform: uppercase;
    }

    p {
      @include responsive-font-size-heading(30px, 60px);
      text-transform: uppercase;
      margin: 0;
      font-weight: 700;
    }
  }
}