.heavy__content {

  .heavy__content__bg {
    background-color: $bg-blue;
  }

  .heavy--content--title {
    @include responsive-padding-top-bottom(30px, 70px);

    .h2 {
      color: $text-white;
      @include responsive-font-size(30px, 60px);
      @include responsive-padding-top-bottom(40px, 82px);
    }
  }
}

.heavy--content {
  @include responsive-padding-top-bottom(30px, 80px);

  .main--text {
    text-align: left;
    max-width: 1360px;

    h2, h3, h4, h5 {
      max-width: 1000px;
    }
    p {
      @include responsive-font-size(16px, 20px);
      @include responsive-margin-top-bottom(20px, 46px);
      margin-top: 0 !important;

      &:last-of-type {
        margin-bottom: 0 !important;
      }
    }

    ul {
      @include responsive-margin-top-bottom(20px, 46px);

      li {
        @include responsive-font-size(16px, 20px);
        @include responsive-padding-top-bottom(3px, 6px);

        &:before {
          content: '\25ce';
          margin-right: 1em;
          color: $light-blue;
        }
      }
    }

    a {
      border-bottom: 2px solid $light-blue;
      transition: color 0.4s cubic-bezier(0.7, 0, 0.3, 1);

      @include mediaMin($tablet-l) {
        &:focus,
        &:hover {
          color: $light-blue;
        }
      }
    }
  }
}