.homepage--header {
  $block-spacer: 8px;
  @include responsive-margin-top-bottom(30px, 70px);
  margin-top: 0 !important;

  .negative--margin {
    margin: -$block-spacer;

    .single--cta {
      margin: $block-spacer;
      max-height: 846px;
      height: 70vh;
      background-position: center;
      background-size: cover;
      overflow: hidden;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      cursor: pointer;

      @include mediaMax($tablet-s) {
        height: auto;
        min-height: 42vh;
      }

      @include mediaMin($laptop-s) {
        &:hover {
          .content--wrapper {
            transform: translateY(-30px);
            .overlay {
              transform: scale(4);
            }
          }
        }
      }

      .content--wrapper {
        @include responsive-padding-left-right(20px, 52px);
        @include responsive-padding-top-bottom(20px, 80px);
        //min-height: 50%;
        display: flex;
        align-items: center;
        transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
        position: relative;
        z-index: 110;

        .overlay {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          z-index: -1;
        }

        img {
          width: 25vw;
          max-width: 400px;
          @include responsive-margin-top-bottom(20px, 35px);
          margin-top: 0 !important;

          @include mediaMax($laptop-s) {
            width: 100%;
            max-width: 340px;
          }
          @include mediaMax($tablet-s) {
            max-width: 230px;
          }
        }

        p {
          color: $colour-text-body-light;
          max-width: 460px;
          font-weight: 400;
          margin-bottom: 0;

          @include responsive-font-size(14px, 16px);

          &:last-of-type {

          }
        }
      }
    }

    .column--cta {
      margin: $block-spacer;
      height: calc(50% - 16px);
      box-sizing: content-box;
      background-position: center;
      background-size: cover;
      overflow: hidden;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      cursor: pointer;

      &:first-of-type {
        margin-bottom: $block-spacer*2;
        justify-content: flex-end;

        .content--wrapper {
          &.full--height {
            height: auto;
          }
        }
      }

      @include mediaMin($laptop-s) {
        &:hover {
          .content--wrapper {
            transform: translateY(-20px);
            .overlay {
              transform: scale(4);
            }
          }
        }
      }

      .content--wrapper {
        @include responsive-padding-left-right(20px, 30px);
        @include responsive-padding-top-bottom(25px, 50px);
        flex-wrap: wrap;
        position: relative;
        z-index: 110;
        transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);

        &.full--height {
          height: 100%;
        }

        .full--height {
          height: 100%;
          display: flex;
          align-items: flex-end;
        }

        .overlay {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          z-index: -1;
        }

        i {
          color: $colour-text-body-light;
          display: block;
          font-weight: 700;
          text-transform: uppercase;
        }

        a {
          color: $colour-text-body-light;
          @include responsive-font-size-heading(22px, 34px);
          max-width: 336px;
          display: block;
          text-transform: uppercase;
        }
      }
    }
  }
}

.separator {
  @include responsive-padding-top-bottom(40px, 110px);

  @include mediaMax($tablet-s) {
    display: none;
  }
}