.news--archive--block {

  $block-spacer: 8px;

  .news--archive--title {
    @include responsive-padding-top-bottom(10px, 20px);
    padding-bottom: 0 !important;

    .h2 {
      @include responsive-font-size(34px, 50px);
      @include responsive-padding-top-bottom(40px, 65px);
    }
  }

  .negative--margin {
    margin: -$block-spacer;
  }

  .featured--news .pure-u-1 {
    &:nth-of-type(2) {
      .news-cta {
        .inner--image {
          margin-bottom: $block-spacer*2;
          justify-content: flex-start;
        }
      }
    }

    &:nth-of-type(1) {
      .news-cta {
        .content--wrapper {
          height: 100%;
          align-items: flex-end;

          @include mediaMax($laptop-s) {
            height: auto;
          }

          h2, p {
            max-width: 400px;
          }
        }
        .inner--image {
          justify-content: flex-start !important;
        }
      }
    }
  }

  .news-cta {
    max-height: 600px;
    height: 60vh;
    margin: $block-spacer;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    &:first-of-type {
      margin-bottom: $block-spacer*2;
      justify-content: flex-end;
    }

    @include mediaMin($laptop-s) {
      &:hover {
        .content--wrapper {
          transform: translateY(-20px);
          .overlay {
            transform: scale(4);
          }
        }
      }
    }

    .inner--image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }

    .content--wrapper {
      @include responsive-padding-left-right(20px, 52px);
      @include responsive-padding-top-bottom(20px, 52px);
      min-height: 50%;
      display: flex;
      align-items: center;
      transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
      position: relative;
      z-index: 110;

      .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
      }

      i {
        color: $colour-text-body-light;
        display: block;
        font-weight: 700;
        text-transform: uppercase;
        @include responsive-font-size(18px, 18px);
      }

      .btn {
        z-index: 10;
      }

      h2 {
        max-width: 500px;
        @include responsive-font-size-heading(26px, 40px);

        @include mediaMax($laptop-s) {
          padding: 0;
        }

        a {
          color: $colour-text-body-light;
        }
      }

      p {
        color: $colour-text-body-light;
        font-weight: 400;
        max-width: 500px;
        margin: 0;

        @include mediaMax($laptop-s) {
          display: none;
        }
      }
    }
  }

  .list--news .pure-u-1 {

    &:nth-of-type(3n+2) {
      .news-cta {
        .inner--image {
          justify-content: flex-end;
          align-items: flex-start;

          @include mediaMax($laptop-s) {
            align-items: flex-end;
          }
        }
      }
    }

    &:nth-of-type(3n+3) {
      .news-cta {
        .inner--image {
          justify-content: flex-end;
        }
      }
    }

    .news-cta {
      @include mediaMax($laptop-s) {
        height: 40vh;
      }

      .inner--image {
        justify-content: flex-start;

        .content--wrapper {
          i {
            @include responsive-font-size(16px, 16px);
          }

          h2 {
            padding: 0;
            @include responsive-font-size-heading(22px, 34px);
            max-width: 350px;
          }
        }
      }
    }

  }

  .load-more-articles {

    button {
      -webkit-appearance: none;
      border-radius: 0;
      border: 0;
      background-color: $bg-blue;
      outline: none;
      color: $text-white;

      @include mediaMin($tablet-l) {
        &:focus,
        &:hover {
          background-color: darken($color: $bg-blue, $amount: 10%);
        }
      }
    }
  }

  #post-list {
    position: relative;
    z-index: 10;
  }

}

