.not__found {
  position: relative;
  z-index: 10;
  min-height: calc(100vh - 159px);
  display: flex;
  justify-content: center;
  align-items: center;

  @include mediaMax($laptop-s){
    min-height: calc(100vh - 136px);
  }

  @include mediaMax($tablet-s){
    min-height: calc(100vh - 72px);
  }

  img {
    width: 90vw;
    max-width: 750px;
  }

  h1 {
    @include responsive-font-size(30px, 60px);
    font-weight: 600;
    text-align: center;
    padding: 0 !important;
    @include responsive-margin-top-bottom(45px, 78px);
  }
}