.single--article--block {

  .featuredBanner__block {
    // @include responsive-margin-top-bottom(-40px, -120px);
    // margin-top: 0 !important;
  }

  .main--block {
    @include responsive-padding-top-bottom(30px, 80px);
    padding-bottom: 0 !important;
  }

  .single--content {

    @include responsive-margin-top-bottom(10px, 10px);
    margin-bottom: 0 !important;

    .heavy--content {
      padding: 0 !important;

      .main--text {
        max-width: none;

        h2 {
          @include responsive-font-size(16px, 20px);
          font-weight: 500;
          text-transform: none;
        }

        p, span {
          color: $text-black;
        }
      }
    }

    .sidebar {
      @include responsive-padding-left-right(50px, 90px);
      padding-right: 0 !important;

      @include mediaMax($tablet-l) {
        padding-left: 0 !important;
        @include responsive-padding-top-bottom(40px, 60px);
      }

      .inner {
        padding: 20px;
        background-color: $bg-green;
      }

      h4 {
        color: $colour-text-body-light;
        font-family: $font-alpha;
      }

      a {
        text-decoration: none;
        color: $colour-text-body-light;

        &:first-of-type .sidebar--item {
          padding-top: 10px;
        }

        &:last-of-type .sidebar--item {
          border: 0;
          padding-bottom: 10px;
        }

        @include mediaMin($laptop-s) {
          &:focus,
          &:hover {
            i {
              color: $text-orange;
            }
          }
        }
      }

      .sidebar--item {

        border-bottom: 1px solid $colour-text-body-light;
        @include responsive-padding-top-bottom(20px, 30px);



        i {
          display: block;
          font-weight: 700;
          text-transform: uppercase;
          @include responsive-font-size-heading(16px, 18px);
          @include responsive-padding-top-bottom(8px, 10px);
          padding-top: 0 !important;
          transition: color 0.4s cubic-bezier(0.7, 0, 0.3, 1);
        }

        .h2 {
          @include responsive-font-size-heading(22px, 26px);
          max-width: 550px;
          line-height: normal;
          padding-bottom: 0;

        }

        .inner {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0;

          .item--title {
            margin-right: 25px !important;
          }

          i {
            padding-bottom: 0 !important;
            @include responsive-font-size-heading(20px, 25px);
            line-height: 0 !important;
          }
        }
      }
    }

    .social--links--block {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 100px;
      padding-bottom: 20px;

      @include mediaMax($laptop-s) {
        padding-top: 40px;
      }

      h3 {
        @include responsive-font-size-heading(22px, 34px);
        @include responsive-padding-top-bottom(10px, 10px);
        padding-top: 0 !important;
        color: $text-blue;
        text-align: center;
      }

      .levy__social {
        padding-top: 0 !important;

        i {
          color: $text-blue !important;
          @include responsive-font-size(24px, 32px);
        }

        ul {
          line-height: 0;
          font-size: 0;

          li {
            display: inline-block;
            margin: 0 10px;
          }
        }
      }
    }
  }

}