/*------------------------------------|
|	Content Wrap                        |
|------------------------------------*/

/*---- Limits width of content, adds side padding, & allows background colours to extend to screen edge ----*/

.section__constrained {
  max-width: $max-width;
  @include responsive-padding-left-right(20px, 84px);
  margin: 0 auto;
  box-sizing: content-box;

  @include mediaMax($tablet-s) {
    padding-left: $global-gutter !important;
    padding-right: $global-gutter !important;
  }

  &--fluid {
    max-width: $max-width-fluid;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  &--tablet-no-margin {
    @include mediaMax($tablet-l) {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }

  &.border-box {
    box-sizing: border-box;
  }

  &.center {
    text-align: center;
  }

  &.half {
    @include responsive-padding-left-right(20px, 25px);
  }

  &.maxWidth--1240 {
    max-width: 1240px;
  }

  @include mediaMax($tablet-l) {

  }
}
