.cc-window {
  background-color: $colour-text-body-levy;
  box-shadow: 0 0 27px -10px rgba(0, 0, 0, 0.25);
  font-family: $font-alpha;
  border-radius: 0 !important;
  padding: 12px 30px !important;

  @include mediaMax($tablet-l) {
    display: block !important;

  }

  span {
    @include responsive-font-size(13px, 14px);
    color: $colour-text-body-light !important;
  }

  .cc-compliance {
    display: block !important;
    text-align: center;

    @include mediaMax($tablet-l) {
      margin-top: 15px;
      justify-content: center !important;
    }
  }

  .cc-message {
    font-family: $font-alpha;
    text-align: left;
    color: $colour-text-body;

    @include mediaMax($tablet-l) {
      text-align: center;
    }

    .cc-link {
      color: $colour-text-body-light !important;
      opacity: 1 !important;
      transition: all 0.3s;

      @include mediaMin($laptop-s) {
        &:hover {
          color: $yellow !important;
        }
      }
    }
  }

  .cc-btn {
    color: $colour-text-body;
    background-color: $colour-text-body-levy;
    font-family: $font-alpha;
    text-transform: uppercase;
    padding: .3em 1.4em;
    border: 1px solid $colour-text-body-light !important;
    transition: all 0.3s;
    font-size: 13px;
    border-radius: 0 !important;
    display: inline-block;

    @include mediaMin($laptop-s) {
      &:hover {
        color: $colour-text-body;
        background-color: $colour-text-body-light !important;
      }
    }
  }
}
