.levy__footer {
  background-color: $main-background;
  z-index: 100;
  position: relative;

  .first--block {
    @include responsive-padding-top-bottom(40px, 75px);
    // padding-bottom: 0 !important;
    text-align: center;

    .mobile--wrapper {
      @include mediaMax($tablet-s) {
        display: flex;
        margin-bottom: 40px;

        svg {
          flex: 0 0 100px;
        }

        ul {
          flex: 0 0 calc(100% - 100px);
          margin: -5px 0;
          li {
            display: block;
            text-align: right;
            margin: 5px -16px;
          }
        }
      }
    }

    svg {
      fill: #fff;
      height: 85px;
      @include responsive-padding-top-bottom(30px, 48px);
      padding-top: 0 !important;
    }

    ul {
      font-size: 0;
      line-height: 0;

      &.terms__wrapper {
        margin-top: 15px;

        @include mediaMax($tablet-s) {
          margin: -3px 0;
          li {
            margin: 3px 0;
          }
        }
      }

      li {
        display: inline-block;

        a {
          @include responsive-font-size(16px, 16px);
          color: $colour-text-body-light;
          font-family: $font-alpha;
          font-weight: 400;
          text-transform: uppercase;
          padding: 10px 16px;
          position: relative;
          transition: 0.4s color;

          @include mediaMin($laptop-s) {
            &:hover,
            &:focus {
              color: $yellow;
            }
          }

        }
      }
    }
  }

  .second--block {
    text-align: center;
    @include responsive-padding-top-bottom(30px, 50px);
    padding-top: 0 !important;

    p {
      @include responsive-font-size(18px, 18px);
      @include responsive-margin-top-bottom(15px, 20px);
      margin-bottom: 0 !important;
      color: $colour-text-body-light;
      font-family: $font-beta;
      font-weight: 400;
      text-transform: uppercase;
    }

    .family--logos {
      @include responsive-margin-top-bottom(30px, 40px);
      @include responsive-margin-left-right(-14px, -39px);
      margin-bottom: 0 !important;
      line-height: 0;
      font-size: 0;

      @include mediaMax($tablet-s) {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      li {
        display: inline-block;
        @include responsive-padding-left-right(14px, 39px);

        a {
          img {
            max-height: 70px;

            @include mediaMax($tablet-s) {
              max-width: 56px;
              max-height: none;
            }
          }
        }
      }
    }
  }

  hr {
    @include responsive-margin-top-bottom(30px, 50px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0 !important;
    width: 100%;
    max-width: 1352px;
    height: 2px;
    background-color: #939393;
  }

  #goToTop {
    width: 80px;
    height: 80px;
    background-color: $bg-white;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.4s cubic-bezier(.18,.83,.64,.97);

    @include mediaMax($tablet-s) {
      display: none;
    }

    @include mediaMin($laptop-s) {
      &:hover,
      &:focus {
        background-color: $bg-blue;
      }
    }

    i {
      color: $main-background;
      transform: rotate(270deg);
      line-height: 0;
      font-size: 22px;
    }
  }
}

.levy__social {

  @include responsive-padding-top-bottom(30px, 56px);
  padding-bottom: 0 !important;
  text-align: center;

  li {
    margin: 0 5px;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    a {
      font-size: 0 !important;
      line-height: 0 !important;
      text-align: center;
      overflow: hidden;
      display: block;
      padding: 5px !important;

      @include mediaMin($laptop-s) {
        &:hover,
        &:focus {
          i {
            color: $yellow;
          }
        }
      }

      i {
        font-size: 22px;
        line-height: 0;
        color: $colour-text-body-light;
        transition: color 0.4s cubic-bezier(.18,.83,.64,.97);

        &.icon-facebook {
          //font-size: 20px;
        }

        &:before {
          //line-height: 32px;
        }
      }
    }
  }
}
