.umbraco-forms-page {
  text-align: left;

  fieldSet {
    padding: 0 !important;
    margin: 0 !important;
  }

  .umbraco-forms-field-wrapper {
    position: relative;

    .field-validation-error {
      position: absolute;
      color: $brand-sheffield !important;
      background: $secondary-background !important;
      padding: 2px 10px;
      right: 10px;
      bottom: -8px;
      font-family: $font-beta;
      font-weight: 400;
      @include responsive-font-size-heading(11px, 11px);
    }
  }

  .col-md-6 {
    width: calc(50% + 10px);
    float: left;
    padding: 0 10px;

    @include mediaMax($tablet-s) {
      padding: 0;
    }

    &:first-of-type {
      margin-left: -10px;

      @include mediaMax($tablet-s) {
        width: 100%;
        margin: 0;
      }
    }

    &:last-of-type {
      margin-right: -10px;

      @include mediaMax($tablet-s) {
        width: 100%;
        margin: 0;
      }
    }
  }

  .longanswer {
    label {
      display: none;
    }

    &.enquiry {
      label {
        display: none;
      }
    }
  }

  .umbraco-forms-navigation {
    padding: 0 !important;
    margin-top: 40px;

    .col-md-12 {
      display: flex;
      justify-content: flex-start;
    }
  }

  .intro {
    h2 {
      margin: 0;
    }
  }

  .privacypolicytext {
    width: calc(100% - 60px);
    float: left;
    clear: none !important;

    @include mediaMax($tablet-s) {
      width: calc(100% - 50px);
    }

    h2 {
      @include responsive-font-size(13px, 16px);
      font-family: $font-beta;
      font-weight: 400;
      margin: 0 !important;
      padding: 0;

      a {
        border-bottom: 1px solid;
      }
    }
  }

  .checkbox {
    display: flex;
    justify-content: space-between;
    width: 40px;
    position: relative;
    float: left;

    @include mediaMax($tablet-s) {
      width: 40px;
    }

    label {
      position: absolute;
      right: 0;
      width: 30px;
      font-size: 0;
      margin: 0;
      padding: 0;
      z-index: 10;
      cursor: pointer;
      display: inline-block !important;
    }

    input {
      padding: 0 !important;
      margin-bottom: 0 !important;
      display: none !important;
      cursor: pointer !important;
      height: 0 !important;
      width: 0 !important;
    }

    .umbraco-forms-field-wrapper {
      display: flex;
      justify-content: flex-start;
      width: 100%;

      span {
        position: relative;
        cursor: pointer;

        &.field-validation-error {
          position: relative;
          bottom: auto;
          right: auto;
          padding: 0;
          font-size: 0;

          &:before {
            border-color: red;
          }
        }

        &.field-validation-valid {
          &:before {
            border-color: $colour-text-body;
          }
        }
      }

      span:before {
        content: '';
        -webkit-appearance: none;
        background-color: transparent;
        border: 1px solid $colour-text-body;
        padding: 10px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
      }

      input:checked + span:after {
        content: '';
        display: block;
        position: absolute;
        top: 4px;
        left: 7px;
        width: 6px;
        height: 14px;
        border: solid $brand-primary;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }

  }

  input,
  textarea {
    height: 50px !important;
    line-height: 50px !important;
    border: 1px solid #999999;
    width: 100% !important;
    padding: 0 15px !important;
    margin: 0 !important;
    margin-bottom: 20px !important;
    box-sizing: border-box !important;
    transition: border-color 0.4s cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    background: none;

    &:focus {
      border-color: $brand-primary;
    }
  }

  .umbraco-forms-form input.text {
    max-width: none !important;
  }

  textarea {
    min-height: 150px;
    max-height: 250px;
    resize: vertical;
    padding: 15px !important;
    @include responsive-font-size(16px, 16px);
    line-height: 16px !important;
  }

  select {
    width: 100%;
  }

  label {
    font-family: $font-beta;
    @include responsive-font-size(16px, 16px);
    padding-bottom: 10px;
    display: none !important;
  }

  p, h2 {
    @include responsive-font-size(16px, 16px);
    margin-bottom: 15px;
    font-family: $font-alpha;
    font-weight: 400;
    text-transform: none;
  }

  p {
    &:first-of-type {
      margin-bottom: 50px;
    }
  }

  h2 {
    margin-top: 35px;
    margin-bottom: 0;
    padding-bottom: 15px;
  }

}

$input-spacing: 15px;
$input-height: 50px;
$input-background-color: transparent !important;

// Select2

.select2-container {
  transform: translateY(0);
  height: $input-height;
  padding: 0;
  margin: 0;
  background-color: $input-background-color;
  z-index: 10;

  @include mediaMax($tablet-s) {
    height: $input-height;
  }

  &:nth-last-child {
    border: 0;
  }
}

.select2-container--default .select2-selection--single {
  font-family: $font-alpha;
  //border: 0;
  border-radius: 0;
  background: transparent;
  height: $input-height;
  border: 1px solid $colour-text-body;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: $colour-text-body;
  @include responsive-font-size(16px, 16px);
  font-weight: 400;
  height: $input-height;
  padding-left: 15px;
  padding-right: 48px;
  transition: all 0.3s;
  display: flex;
  align-items: center;

  @include mediaMax($tablet-s) {
    height: $input-height;
  }
}

.select2-results {
  ul li {
    &:first-of-type {
      display: none;
    }
  }
}

.select2-container {
  transition: opacity 0.3s;
  z-index: 50;

  &.select2-dropdown {
    opacity: 0;
    transition: opacity 0.3s;
  }

  &.select2-container--open {
    .select2-dropdown {
      opacity: 0;
    }
  }
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 0;
  border-bottom: 1px solid $colour-text-body;
  background: transparent;
}

.select2-container--default .select2-dropdown {
  border: 0 !important;
  background-color: $colour-text-body !important;
  transition: opacity 0.3s;
  //transition-delay: 2s;
}

.select2-container--default.select2-container--open .select2-dropdown {
  //opacity: 1;
  //transition-delay: 2s;
}

.select2-search--dropdown {
  padding: 10px;
}

// Custom Scroll on Chrome

.select2-results {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.07);
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar {
  width: 5px;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-track {
  background: #ddd;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
  background: $brand-primary;
}

.select2-results__option {
  padding: 10px 10px 10px 18px;
  transition: all 0.25s;
  font-size: 0.875rem;
  color: $colour-text-body;
  background-color: $colour-text-body-light;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  font-weight: 400;
  background-color: $colour-text-body;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: $colour-text-body;
  font-weight: 700;
  color: $colour-text-body-light;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: $input-height;
  background-repeat: no-repeat;
  background-size: 22px;
  transform: rotate(0) translateZ(0);
  background-position: center;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIyODMuNDZweCIgaGVpZ2h0PSIyODMuNDZweCIgdmlld0JveD0iMCAwIDI4My40NiAyODMuNDYiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI4My40NiAyODMuNDYiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiMyQjJGNDEiIGQ9Ik0xLjk0NSw3OC45MzNsMTM0Ljk5MywxMzQuOTkxYzEuMzE1LDEuMzE3LDMuMDQ1LDEuOTU4LDQuNzcsMS45MzhjMS43MjYsMC4wMiwzLjQ1NS0wLjYyMiw0Ljc3LTEuOTM4TDI4MS40Nyw3OC45MzNjMi41OTMtMi41OTQsMi41OTMtNi43OTksMC05LjM5M2MtMi41OTQtMi41OTItNi43OTctMi41OTItOS4zOTIsMEwxNDEuNzA4LDE5OS45MTJMMTEuMzM5LDY5LjU0MWMtMi41OTYtMi41OTItNi44MDEtMi41OTItOS4zOTUsMEMtMC42NDgsNzIuMTM0LTAuNjQ4LDc2LjMzOSwxLjk0NSw3OC45MzMiLz48L3N2Zz4=);

  right: $input-spacing;
  transition: all 0.3s;

  @include mediaMax($tablet-s) {
    height: $input-height;
  }

  b {
    display: none;
  }

  .select2-container {
    transform: translateY(0);
  }
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
  transform: rotate(180deg);
}