.l-header {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.4s;

  &.is--white {
    background-color: $bg-white;

    .ham {
      .ham--inner {
        &:after,
        &:before {
          background-color: $bg-black !important;
        }
      }
    }

    #levy__nav {
      ul {
        li {
          a {
            color: $text-black;
          }
        }
      }
    }

    #levy--logo {
      .show-only-when-top {
        display: none;

        svg {
          width: 158px;

          @include mediaMax($phone-l) {
            width: 120px;
          }
        }
      }

      .show-only-when-scroll {
        display: block;
      }
    }
    //
    //&.shrink {
    //  background-color: #fff;
    //}
    //
    //#levy--logo {
    //  svg {
    //    fill: $colour-text-body-levy;
    //  }
    //
    //  .experience--wrapper {
    //    border-color: $colour-text-body-levy;
    //
    //    svg {
    //      fill: $colour-text-body-levy;
    //    }
    //  }
    //}
    //
    //#levy__nav ul li a {
    //  color: $colour-text-body-levy;
    //
    //  &:after,
    //  &:before {
    //    background-color: $colour-text-body-levy;
    //  }
    //}
    //
    //.ham .ham--inner {
    //  &:before,
    //  &:after {
    //    background-color: $colour-text-body-levy;
    //  }
    //}
  }

  &.is--black {
    background-color: $colour-text-body-levy;

    #levy--logo {
      svg {
        fill: $colour-text-body-light !important;
      }
    }

    .ham {
      .ham--inner {
        &:after,
        &:before {
          background-color: $colour-text-body-light !important;
        }
      }
    }
  }

  &.menu-open {

    #levy--logo {
      @include mediaMax($laptop-s) {
        svg {
          fill: $colour-text-body-levy;
        }
      }
    }

    .ham {

      .ham--inner {
        transform: rotate(45deg);

        @include mediaMax($laptop-s) {
          &:after,
          &:before {
            background-color: $colour-text-body-levy;
          }
        }
      }
    }

    $number-of-items: 10;

    #levy__nav {

      ul {
        &.secondary--nav {
          opacity: 1;
        }
      }

      .main__navigation {
        transform: translateX(0);

        //@for $i from 0 to $number-of-items + 1 {
        //  li:nth-child(#{$i}) {
        //    will-change: transform;
        //    transform: translateX(0);
        //    opacity: 1;
        //    transition-delay: $i * 0.075s;
        //  }
        //}
      }
    }

    .hide__navigation--wrapper {
      transform: translateX(0);
    }

  }

  .show-only-when-scroll {
    display: none;
  }

  &.shrink {
    box-shadow: 0 0 26px 0 rgba(0, 0, 0, 0.15);
    background-color: $bg-white;

    &.menu-open {
      @include mediaMax($laptop-s) {
        background-color: transparent;
        box-shadow: none;
      }
    }

    .ham {
      .ham--inner {
        &:after,
        &:before {
          background-color: $bg-black !important;
        }
      }
    }

    #levy__nav {
      ul {
        li {
          a {
            color: $text-black;
          }
        }
      }
    }

    &.is--black {
      background-color: $colour-text-body-levy;

      #levy--logo {
        svg {
          fill: $colour-text-body-light !important;
        }
      }

      .ham {
        .ham--inner {
          &:after,
          &:before {
            background-color: $colour-text-body-light !important;
          }
        }
      }
    }

    #levy--logo {
      transform: scale(0.45) translateY(50px);

      .show-only-when-top {
        display: none;
      }

      .show-only-when-scroll {
        display: block;
        margin-top: 20px;

        @include mediaMax($laptop-s) {
          margin-top: 0px;
        }
      }

      .experience--wrapper {
        opacity: 1;
        svg {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }

    @include mediaMax($laptop-l) {
      transform: translateY(-55px);

      #levy--logo {
        transform: scale(0.6) translateY(18px);
      }
      #levy__nav {
        transform: translateY(27px);
      }
    }

    @include mediaMin($laptop-l) {
      transform: translateY(-55px);

      #levy--logo {
        transform: scale(0.6) translateY(11px);
      }

      #levy__nav {
        transform: translateY(27px);
      }
    }

    @include mediaMax($laptop-s) {
      transform: translateY(-30px);

      #levy--logo {
        transform: scale(0.7) translateY(9px);
      }

      #levy__nav {
        transform: translateY(14px);
      }
    }
  }

  #levy__header--wrapper {
    @include responsive-padding-top-bottom(32px, 32px);

    @media all and (-ms-high-contrast:none) {
      height: 120px;
    }

    @include mediaMax($laptop-s) {
      @include responsive-padding-top-bottom(20px, 20px);
    }

    @include mediaMax($tablet-s) {
      @include responsive-padding-top-bottom(15px, 15px);
    }
  }

  #levy--logo {
    line-height: 0;
    font-size: 0;
    transition: transform 0.4s;
    transform-origin: bottom left;
    display: flex;
    align-items: center;
    z-index: 10;

    svg {
      max-height: 95px;
      height: 100%;
      width: auto;
      fill: #fff;
      transition: fill 0.4s;

      @media all and (-ms-high-contrast:none) {
        width: 122px;
      }

      @include mediaMax($laptop-l) {
        max-height: 76px;
      }

      @include mediaMax($laptop-s) {
        max-height: 56px;
      }
    }

    .experience--wrapper {
      margin-left: 18px;
      padding-left: 18px;
      border-left: 2px solid #fff;
      transition: all 0.4s;
      opacity: 0;
      overflow: hidden;

      @include mediaMax($laptop-l) {
        display: none;
      }

      svg {
        fill: #fff;
        max-height: 50px;
        height: 100%;
        width: auto;
        transition: all 0.4s;
        transition-delay: 0.3s;
        opacity: 0;
        transform: translateX(-100%);

        @media all and (-ms-high-contrast:none) {
          width: 206px;
        }
      }

    }
  }

  #levy__nav {
    display: flex;
    justify-content: flex-end;
    transition: transform 0.4s;
    margin-right: -20px;

    ul {
      display: inline-block;
      font-size: 0;
      line-height: 0;
      margin-left: 0 !important;

      @include mediaMax($laptop-s) {
        width: 100%;
      }

      &.secondary--nav {
        transition: opacity 0.6s;
        opacity: 0;
      }

      li {
        display: inline-block;
        transition: all 0.3s;

        &:first-of-type {
          padding-left: 0 !important;
        }

        &:last-of-type {
          padding-right: 0 !important;
        }

        &.active {
          a {
            &:after,
            &:before {
              width: calc(50% - 30px);
            }
          }
        }

        a {
          @include responsive-font-size(15px, 15px);
          color: $colour-text-body-light;
          font-family: $font-alpha;
          font-weight: 700;
          padding: 10px 13px;
          position: relative;
          transition: 0.4s color;

          &:after,
          &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 1px;
            background-color: $colour-text-body-light;
            transition: width 0.3s cubic-bezier(.18, .83, .64, .97);
          }

          &:after {
            left: auto;
            right: 50%;
          }

          @include mediaMin($laptop-s) {
            &:hover,
            &:focus {
              &:after,
              &:before {
                width: calc(50% - 30px);
              }
            }
          }
        }

        ul {
          display: none;
        }
      }
    }
  }
}

.main__navigation {
  font-size: 0;
  line-height: 0;
  display: flex;
  align-items: center;
  overflow: hidden;

  @include mediaMax($laptop-s) {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    //background-color: #fff;
    transform: translateX(0);
    opacity: 0;
    box-shadow: 0 0 26px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
    z-index: 9;

    ul {

      li {
        display: block;
        padding: 10px 0;
        //transform: translateX(25px);
        //opacity: 0;
        text-align: center;

        &.active {
          a {
            font-weight: 800;
          }
        }

        a {
          @include responsive-font-size(16px, 16px);
          color: $colour-text-body;
          font-family: $font-alpha;
          letter-spacing: 1px;
          padding: 10px;
          position: relative;

          &:after,
          &:before {
            display: none;
          }
        }
      }
    }
  }

  .hide__navigation--wrapper {
    transition: 0.4s transform;
    transform: translateX(100%);

    @include mediaMax($laptop-s) {
      transform: translateX(0);
      width: 100%;
    }
  }
}

@include mediaMax($laptop-s) {
  #mobile__nav--wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 900;
    pointer-events: none;

    &:before {
      content: '';
      width: 100%;
      height: 50%;
      background: #fff;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-120%);
      z-index: 0;
      transition: transform 0.6s cubic-bezier(0.7, 0, 0.3, 1);
    }

    &:after {
      content: '';
      width: 100%;
      height: 50%;
      background: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(120%);
      z-index: 0;
      transition: transform 0.6s cubic-bezier(0.7, 0, 0.3, 1);
    }

    .main__navigation {
      transform: scale(0.95) translateX(0);
      transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);

      .main--nav {
        li {

          &.menu-item-has-children {
            a {
              i {
                margin-left: 5px;
                text-transform: none;
                display: inline-block;
                transition: all 0.25s cubic-bezier(0.5, 0, 0.3, 1);
                width: 30px;
                height: 30px;
                top: 3px;
                position: absolute;
                background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMzA2cHgiIGhlaWdodD0iMzA2cHgiIHZpZXdCb3g9IjAgMCAzMDYgMzA2IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAzMDYgMzA2OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PGcgaWQ9ImV4cGFuZC1tb3JlIj48cG9seWdvbiBwb2ludHM9IjI3MC4zLDU4LjY1IDE1MywxNzUuOTUgMzUuNyw1OC42NSAwLDk0LjM1IDE1MywyNDcuMzUgMzA2LDk0LjM1ICIvPjwvZz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PC9zdmc+);
                background-size: 15px;
                background-position: center;
                background-repeat: no-repeat;
              }
            }

            ul {
              padding-top: 10px;
              li {
                padding: 5px;
                a {
                  color: rgba($dark-grey, 0.6);
                  @include responsive-font-size(14px, 14px);

                  i {
                    display: none;
                  }
                }
              }
            }
          }


          &.open {
            a i {
              transform: rotate(180deg);
            }
            ul {
              max-height: 250px;
            }
          }
        }
        ul {
          overflow: hidden;
          max-height: 0;
          transition: max-height 0.5s cubic-bezier(0.7, 0, 0.3, 1);
        }
      }
    }

    &.menu-open {
      pointer-events: auto;

      &:before {
        transform: translateY(0);
      }

      &:after {
        transform: translateY(0);
      }

      .main__navigation {
        transform: translateX(0) scale(1);
        opacity: 1;
      }
    }
  }
}

.subNav__wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  overflow: hidden;


  @include mediaMax($laptop-s) {
    display: none;
    pointer-events: none;
  }

  &.is--active {
    .subNav__wrapper--inner {
      transform: translateY(0);
    }
  }

  .subNav__wrapper--inner {
    background-color: #454545;
    width: 100%;
    height: 100%;
    padding: 15px 0;
    transform: translateY(-100%);
    transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);

    ul {
      display: inline-block;
      font-size: 0;
      line-height: 0;
      margin-left: 0 !important;
      opacity: 0;
      transition: opacity 0.4s cubic-bezier(0.7, 0, 0.3, 1);

      &.is--active {
        opacity: 1;
      }

      &.secondary--nav {
        transition: opacity 0.6s;
        opacity: 0;
      }

      li {
        display: inline-block;
        transition: all 0.3s;

        &:first-of-type {
          padding-left: 0 !important;
        }

        &:last-of-type {
          padding-right: 0 !important;
        }

        a {
          @include responsive-font-size(15px, 15px);
          color: $colour-text-body-light;
          font-family: $font-alpha;
          font-weight: 700;
          padding: 10px 13px;
          position: relative;
          transition: 0.4s color;
        }
      }
    }
  }
}

.contactUsMenu__wrapper {
  background-color: $colour-text-body-levy;
  transition: opacity 0.4s cubic-bezier(0.7, 0, 0.3, 1), transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  pointer-events: none;
  opacity: 0;
  margin-top: 124px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
  //transform: translateY(-100%);

  @include mediaMax($laptop-l) {
    margin-top: 124px;
  }

  @include mediaMax($laptop-s) {
    margin-top: 102px;
  }

  @include mediaMax($tablet-s) {
    margin-top: 92px;
    height: 100%;
  }

  &.shrink {
    transform: translateY(-70px);

    @include mediaMax($laptop-s) {
      transform: translateY(-37px);
    }

    @include mediaMax($tablet-s) {
      transform: translateY(-30px);
    }

  }

  &.is--visible {
    opacity: 1;
    pointer-events: auto;

    a {
      pointer-events: auto !important;
    }
  }

  a {
    pointer-events: none !important;
    color: $colour-text-body-light;
  }

  .contactUsMenu__wrapper--inner {
    @include responsive-padding-top-bottom(30px, 45px);
  }

  .h2 {
    color: $colour-text-body-light;
  }

  hr {
    width: 100%;
    height: 2px;
    background-color: $colour-text-body-light;
  }

  h4 {
    padding: 0;
  }

  .levy__social {
    padding: 0;

    @include mediaMax($tablet-s) {
      margin-top: 20px;
    }

    li {
      display: inline-block;

      i {
        color: $colour-text-body-light;
      }
    }
  }

  .columns--wrapper {
    @include responsive-padding-top-bottom(30px, 50px);
    padding-bottom: 15px !important;
    margin: -20px 0;

    .pure-u-1 {

      .content--wrapper {
        padding: 20px 0;
        padding-right: 30px;

        @include mediaMax($tablet-s) {
          padding-right: 0;
          text-align: center;
        }
      }
      p {
        margin-bottom: 5px;
        @include responsive-font-size(18px, 20px);
        color: $colour-text-body-light;

        &:last-of-type {
          margin: 0;
        }
      }
    }
  }
}

.ham {
  padding: 20px;
  @include responsive-margin-left-right(30px, 50px);
  margin-right: 0 !important;
  cursor: pointer;
  z-index: 10;

  .ham--inner {
    width: 22px;
    height: 22px;
    position: relative;
    transition: 0.25s transform;

    &:after,
    &:before {
      content: '';
      position: absolute;
      width: 3px;
      height: 100%;
      background-color: #fff;
      bottom: 0;
      right: 50%;
      transform: translateX(50%);
      transition: 0.4s background-color;
    }

    &:before {
      bottom: 50%;
      transform: translateX(50%) translateY(50%) rotate(90deg);
    }
  }
}


.l-header {
  #levy--logo {
    .show-only-when-top {
      width: 158px;

      @include mediaMax($phone-l) {
        width: 145px;
      }
    }
  }
}