/*------------------------------------|
|	Heading tags (h1 to h6)                     |
|------------------------------------*/

// h1, .h1 {
//   @include responsive-font-size-heading(34px, 56px);
//   @include responsive-padding-top-bottom(34px, 89px);
//   padding-top: 0 !important;
//   font-family: $font-beta;
//   font-weight: 500;
//   margin: 0;
//   color: $text-secondary;
// }

// h2, .h2 {
//   @include responsive-font-size(24px, 36px);
//   @include responsive-padding-top-bottom(20px, 25px);
//   padding-top: 0 !important;
//   font-family: $font-beta;
//   font-weight: 500;
//   margin: 0;
//   color: $text-secondary;
// }

// h3, .h3 {
//   @include responsive-font-size-heading(30px, 52px);
//   @include responsive-padding-top-bottom(30px, 46px);
//   padding-top: 0 !important;
//   font-family: $font-beta;
//   font-weight: 500;
//   margin: 0;
//   color: $text-secondary;
// }

// h4, .h4 {
//   @include responsive-font-size-heading(20px, 38px);
//   @include responsive-padding-top-bottom(24px, 45px);
//   padding-top: 0 !important;
//   font-family: $font-beta;
//   font-weight: 500;
//   margin: 0;
//   letter-spacing: 0.5px;
//   color: $text-secondary;
// }

// h5, .h5 {
//   @include responsive-font-size(18px, 22px);
//   @include responsive-padding-top-bottom(15px, 30px);
//   padding-top: 0 !important;
//   font-family: $font-beta;
//   font-weight: 500;
//   margin: 0;
//   letter-spacing: 1px;
//   color: $text-secondary;
// }
