.nav {
  width: 100%;
  height: 106px;
  position: fixed;
  background-color: #fff;
  z-index: 10000000;
  display: flex;
  align-items: center;
  transition: all 0.4s ease;

  @include mediaMax($laptop-s) {
    box-shadow: 0 0 15px -5px grey;
    height: 60px;
  }

  @include mediaMin($laptop-s) {
    &.shrink {
      box-shadow: 0 0 15px -5px grey;
      transform: translateY(-30px);

      ul {
        transform: translateY(14px);
      }
    }
  }

  .ham {
    position: absolute;
    right: 0;
    top: -5px;
    padding: 20px;

    div {
      width: 28px;
      height: 2px;
      background-color: $colour-text-body;
      margin: 6px 0;
      transition: transform 0.3s ease;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    transition: all 0.4s ease;
    overflow: hidden;

    @include mediaMax($laptop-s) {
      opacity: 0;
      z-index: 10000;
      position: fixed;
      bottom: 50%;
      transform: translateY(50%);
      display: block;
      pointer-events: none;
    }

    li {
      @include responsive-font-size-heading(12px, 12px);
      display: inline-block;
      text-transform: uppercase;
      font-family: $font-gamma;
      font-weight: 700;
      letter-spacing: 3px;
      text-align: center;

      @include mediaMax($laptop-s) {
        display: block;
      }

      a {
        padding: 10px;
        text-align: center;
        display: block;
        position: relative;
        transition: color 0.3s cubic-bezier(.18, .83, .64, .97);

        @include mediaMax($laptop-s) {
          font-family: $font-beta;
          @include responsive-font-size(17px, 17px);
        }

        &:after,
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 1px;
          background-color: lighten($colour-text-body, 20%);
          transition: width 0.3s cubic-bezier(.18, .83, .64, .97);
        }

        &:after {
          left: auto;
          right: 50%;
        }

        @include mediaMin($laptop-s) {
          &:hover {
            color: lighten($colour-text-body, 20%);

            &:after,
            &:before {
              width: calc(50% - 10px);
            }
          }
        }
      }
    }
  }
}

.l-header {
  position: relative;

  @include mediaMax($laptop-s) {
    &:after {
      content: '';
      position: fixed;
      height: 100%;
      width: 100%;
      background-color: $second-background;
      z-index: 10000;
      opacity: 0;
      transition: opacity 0.4s ease;
      pointer-events: none;
    }
  }

  &.menu-open {

    &:after {
      opacity: 1;
    }

    ul {
      opacity: 1;
      pointer-events: auto;
    }

    .nav {
      box-shadow: none;
      .ham {
        display: block;

        :nth-child(1) {
          transform: translateY(8px) rotate(-45deg);
        }

        :nth-child(2) {
          opacity: 0;
        }

        :nth-child(3) {
          transform: translateY(-9px) rotate(45deg);
        }
      }
    }
  }

  #book--now {
    text-transform: uppercase;
    font-family: $font-gamma;
    font-weight: 700;
    @include responsive-font-size(14px, 14px);
    letter-spacing: 4.5px;
    display: flex;
    height: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    background-color: $brand-primary;
    color: $colour-text-body-light;
  }
}

@include mediaMin($laptop-s) {
  .nav {
    .ham {
      display: none !important;
    }
  }
}

.sub--nav {
  width: auto;
  min-height: 106px;
  background-color: #fff;
  align-items: center;
  margin-top: -48px;
  position: relative;
  z-index: 150;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.07);
  display: inline-flex;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
    padding: 0 30px;

    @include mediaMax($laptop-s) {
      max-width: 600px;
    }

    @include mediaMax($tablet-s) {
      padding: 25px;
    }

    li {
      @include responsive-font-size-heading(12px, 12px);
      display: inline-block;
      text-transform: uppercase;
      font-family: $font-gamma;
      font-weight: 700;
      letter-spacing: 3px;
      text-align: center;
      margin: 0 20px;

      @include mediaMax($tablet-s) {
        display: block;
        width: 100%;
        margin: 0;
      }

      a {
        padding: 10px;
        text-align: center;
        display: block;
        position: relative;
        transition: color 0.3s cubic-bezier(.18, .83, .64, .97);

        &:after,
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 1px;
          background-color: lighten($colour-text-body, 20%);
          transition: width 0.3s cubic-bezier(.18, .83, .64, .97);
        }

        &:after {
          left: auto;
          right: 50%;
        }

        &:hover {
          @include mediaMin($laptop-s) {
            color: lighten($colour-text-body, 20%);

            &:after,
            &:before {
              width: calc(50% - 10px);
            }
          }
        }

        @include mediaMax($laptop-s) {
          padding: 15px 10px;
        }

        @include mediaMax($tablet-s) {
          padding: 10px 10px;
        }
      }
    }
  }
}
