.section__constrained {
  overflow: hidden;
}

.title-section {
  position: relative;
  overflow: hidden;
  background-color: #fff;

  &.with--line {
    &:after {
      content: '';
      position: absolute;
      height: 100%;
      top: 0;
      left: 50%;
      width: 1px;
      background-color: $colour-text-body;
      z-index: 0;
    }
  }

  &.with--horizontal--line {
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      height: 1px;
      background-color: $colour-text-body;
      z-index: 0;

      @include mediaMax($tablet-s) {
        display: none;
      }
    }

    .background__white {
      position: relative;
      z-index: 2;
    }
  }

  &.section--header {
    max-height: 80vh;

    .single-word-title {
      @include responsive-margin-top-bottom(30px, 50px);
      margin-top: 0 !important;
    }
  }

  p {
    @include responsive-margin-top-bottom(0, 30px);
    padding-top: 0 !important;
  }

  //h1 {
  //  box-shadow: ;
  //}

  .background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;

    @include mediaMax($tablet-s) {
      min-height: 40vh;
    }

    .wrapper__flex {
      height: 100%;
    }
  }

}

.with-margin {
  position: relative;
  z-index: 1;
  @include responsive-margin-top-bottom(45px, 195px);
  @include responsive-margin-left-right(25px, 195px - $global-gutter);
  @include responsive-padding-top-bottom(50px, 90px);
}

.with-padding {
  @include responsive-padding-top-bottom(50px, 195px);
  @include responsive-padding-left-right(25px, 195px - $global-gutter);

  @include mediaMax($tablet-s) {
    padding-left: 0;
    padding-right: 0;
  }

}

.single-word-title {
  @include responsive-padding-top-bottom(42px, 90px);
  height: 100%;
  h2 {
    @include responsive-font-size-heading(46px, 124px);
    padding: 0;
    text-shadow: 0 0 30px rgba(0, 0, 0, 1);
  }

  i {
    text-shadow: 0 0 30px rgba(0, 0, 0, 1);
  }
}

.two-col-section {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 25%;
    width: 1px;
    background-color: $brand-primary;
    z-index: 0;

    @include mediaMax($tablet-s) {
      left: 50%;
    }
  }

  &.blue {
    &:after {
      background-color: $colour-text-body;
    }
  }

  &.reverse {
    &:after {
      left: 75%;

      @include mediaMax($tablet-s) {
        left: 50%;
      }
    }

    .img-bg {
      &.bg-left {

        &:after {
          top: -50%;
          bottom: -50%;
          left: -50%;
          right: 50%;

          @include mediaMax($tablet-s) {
            top: 50%;
            bottom: -50%;
            left: -50%;
            right: -50%;
          }
        }
      }
    }
  }

  &.side--image {
    overflow: hidden;

    &.background__green {

      &:after {
        background-color: $brand-primary;
      }

      .content-cont-inner {
        background-color: $brand-primary;

        .btn {
          display: inline-block;
          box-shadow: 0 0 0 1px $colour-text-body-light;
          color: $colour-text-body-light;

          &:hover {
            color: $brand-primary;
            background-color: $colour-text-body-light;

            &:after {
              color: $colour-text-body-light;
              background-color: $brand-primary;
            }
          }

          &:after {
            color: $brand-primary;
            background-color: $colour-text-body-light;
          }
        }
      }
    }

    &.background__blue {
      &:after {
        background-color: $colour-text-body;
      }

      .content-cont-inner {
        background-color: $colour-text-body;

        .btn {
          display: inline-block;
          box-shadow: 0 0 0 1px $colour-text-body-light;
          color: $colour-text-body-light;

          &:hover {
            color: $colour-text-body;
            background-color: $colour-text-body-light;

            &:after {
              color: $colour-text-body-light;
              background-color: $colour-text-body;
            }
          }

          &:after {
            color: $colour-text-body;
            background-color: $colour-text-body-light;
          }
        }
      }
    }

    .wrapper__padding {
      @include responsive-padding-top-bottom($block-spacing-min*0.8, $block-spacing-max*0.8);
    }

    .pure-g {
      @include mediaMax($tablet-s) {
        margin: 0 0 40vh 0 !important;
      }
    }

    .image--wrapper {
      position: absolute;
      width: 50%;
      height: 100%;
      right: 0;
      top: 0;
      overflow: hidden;

      @include mediaMax($tablet-s) {
        height: 40vh;
        top: auto;
        bottom: 0;
        left: 0;
        right: auto;
        width: 100%;
        z-index: 10;
      }


      .inner--image {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-size: cover;
        background-position: center;
      }
    }

    .content-cont-inner {
      @include responsive-padding-top-bottom(30px, 60px);
    }

    .content-cont-outer {
      justify-content: left !important;
      text-align: center;
      position: relative;
      z-index: 2;
      @include responsive-margin-left-right(30px, 150px);
      margin-left: 0 !important;

      @include mediaMax($tablet-s) {
        margin: 0 !important;
      }

      &:after {
        content: '';
        position: absolute;
        width: 1px;
        height: 300vh;
        left: 50%;
        top: -100vh;
        background-color: $colour-text-body-light;
        z-index: -2;
      }

      p {
        max-width: none;
      }
    }

    &:after {
      position: absolute;
      width: 50%;
      height: 100%;
      left: 0;
      top: 0;

      @include mediaMax($tablet-s) {
        display: none;
      }
    }

    &.reverse {
      .pure-g {
        flex-flow: row-reverse;

        @include mediaMax($tablet-s) {
          flex-flow: column;
        }
      }

      .content-cont-outer {
        justify-content: left !important;
        margin-left: 60px !important;
        margin-right: 0 !important;

        @include mediaMax($tablet-s) {
          margin: 0 !important;
          justify-content: normal !important;
        }
      }

      .image--wrapper {
        left: 0;
        right: auto;
      }

      &:after {
        position: absolute;
        width: 50%;
        height: 100%;
        right: 0;
        left: auto;
        top: 0;

        @include mediaMax($tablet-s) {
          width: 100%;
        }
      }
    }
  }

  .content-cont-outer,
  .img-cont-outer {
    height: 100%;
    position: relative;
    z-index: 99;
  }

  .content-cont-inner {
    @include mediaMax($tablet-s) {
      padding: 50px 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      i {
        font-size: 12px;
      }
    }
  }

  .img-bg {

    &:after {
      content: " ";
      background: $brand-primary;
      position: absolute;
      z-index: -10;
    }

    &.bg-left {

      &:after {
        top: -50%;
        bottom: -50%;
        left: 50%;
        right: -50%;

        @include mediaMax($tablet-s) {
          top: 50%;
          bottom: -50%;
          left: -50%;
          right: -50%;
        }
      }

    }

  }

  p {
    max-width: 500px;
  }

  img {
    max-width: 80%;
  }
}

.gallery-slider {
  margin: 0 auto;
  background-color: #fff;

  .slick-slide {
    transform: scale(0.75);
    transition: all 0.3s ease-in;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gallery-slide {
    width: 1000px;
    img {
      width: 100%;
      max-width: 1140px;
    }
  }

  .slick-active {
    transition-delay: 0.4s;
    transform: scale(1);
    opacity: 1;
  }

}

.gallery-slider-nav {
  margin: 0 auto;
  max-width: 1140px;
  margin-top: 35px;

  img {
    width: 223px;
  }

  .slick-slide {
    padding: 5px;
    //max-height: 85px;
    opacity: 0.5;
  }

  .slick-active {
    opacity: 1;
  }
}


.contact--form {

  .section__constrained {
    overflow: visible;
  }

  h2 {
    @include responsive-font-size(40px, 50px);
  }

  .contact--form--wrapper {
    text-align: center;
    max-width: 1040px;
    margin: 0 auto;
    @include responsive-padding-left-right(20px, 70px);
    @include responsive-padding-top-bottom(40px, 70px);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.07);
  }


  &.contact {

    .contact--details {
      @include responsive-padding-top-bottom(40px, 70px);
      padding-bottom: 0 !important;
    }

    #gmap {
      width: 100%;
      height: 100%;
      display: block;

      @include mediaMax($tablet-s) {
        min-height: 300px;
        margin-top: 40px;
        margin-left: -20px;
        margin-right: -20px;
        width: calc(100% + 40px);
      }
    }

    .footer-social {
      @include mediaMax($tablet-s) {
        margin: 0;
      }
    }

    .address--wrapper {
      @include responsive-margin-left-right(20px, 55px);
      margin-left: 0 !important;
      @include responsive-padding-top-bottom(20px, 40px);
      text-align: left;
      border-top: 1px solid $brand-primary;

      @include mediaMax($tablet-s) {
        text-align: center;
        margin-right: 0 !important;
      }

      h4 {
        @include responsive-font-size-heading(26px, 26px);
        @include responsive-padding-top-bottom(15px, 15px);
      }

      p {
        margin: 0;
      }
    }
  }
}



.coverflow--section {
  overflow: hidden;

  @include mediaMax($laptop-s) {
    .gallery-slider-nav {
      display: none;
    }
  }
}


.articles--section {
  $articles-margin: 30px;
  text-align: center;

  &.green {
    .single--article {

      &.small {
        .content--wrapper {
          @include mediaMax($tablet-s) {
            border-left: 1px solid $brand-primary;
          }
        }
      }

      .content--wrapper {
        border-color: $brand-primary;

        .arrow {
          background-color: $brand-primary;
        }
      }
    }
  }

  &.blue {
    .single--article {

      &.small {
        .content--wrapper {
          @include mediaMax($tablet-s) {
            border-left: 1px solid $colour-text-body;
          }
        }
      }

      .content--wrapper {
        border-color: $colour-text-body;

        .arrow {
          background-color: $colour-text-body;
        }
      }
    }
  }


  .negative--margin {
    margin: -$articles-margin;
  }

  .single--article {
    padding: $articles-margin;


    &.big {
      height: 100%;

      @include mediaMax($tablet-s) {
        padding-bottom: 15px;
      }


      a {
        height: 100%;
        display: flex;
        flex-flow: column;
      }

      .content--wrapper {
        border-top: 0;
        height: 100%;
      }
    }

    &.small {

      @include mediaMax($tablet-s) {
        padding-top: 15px;
        padding-bottom: 15px;
      }

      &:last-of-type {
        padding-top: 15px;
      }

      .image--wrapper {
        position: relative;
        height: 100%;

        div {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 10000;
        }
      }

      .content--wrapper {
        border-left: 0;
        padding: 35px;
        padding-bottom: 105px;
        height: 100%;
      }
    }

    .image--wrapper {
      line-height: 0;
      height: 0;
      padding-bottom: 100%;
      overflow: hidden;

      img {
        width: 100%;
        line-height: 0;
      }
    }

    .content--wrapper {
      border: 1px solid $second-background;
      padding: 35px;
      padding-right: 105px;
      text-align: left;
      position: relative;

      @include mediaMax($tablet-s) {
        padding-right: 35px;
        padding-bottom: 105px;
        text-align: center;
      }

      h3 {
        font-family: $font-gamma;
        @include responsive-font-size(18px, 18px);
        letter-spacing: 4px;
        text-transform: uppercase;
      }

      p {
        @include responsive-font-size(16px, 16px);
        margin: 0;
      }

      .arrow {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 70px;
        height: 70px;
        background-color: $colour-text-body;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      i {
        color: $colour-text-body-light;
        font-size: 2rem;
      }
    }
  }
}