.cards-section {

  //@include responsive-padding-top-bottom(25px, 195px);
  //@include responsive-padding-left-right(25px, 195px - $global-gutter);

  margin: 0 auto;
  background-color: #fff;
  text-align: center;

  h2 {
    padding: 0;
    @include responsive-margin-top-bottom(40px, 75px);
    margin-top: 0 !important;
  }

  .pure-g {
    justify-content: center;
  }

  .neg-g {
    margin: 0 -$global-gutter / 2;
  }

  .pure-u-lg-1-1 {

    @include mediaMax($laptop-s) {
      width: 100%;
    }

    .card-button {
      text-align: right;

      .btn {
        max-width: 420px;
        display: inline-block;
      }
    }

    .card-image {
      max-height: 480px;

      @include mediaMax($laptop-s) {
        max-height: 400px;
      }
      @include mediaMax($tablet-s) {
        max-height: none;
      }

      img {
        transform: translateY(-10%);

        @include mediaMax($tablet-s) {
          transform: translateY(0);
        }
      }
    }

  }

  .card-outer {
    padding: $global-gutter / 2;
    height: 100%;
  }

  .card-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card-image {
      line-height: 0;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
    .card-content {
      border-left: 1px solid $colour-text-body;
      border-right: 1px solid $colour-text-body;
      flex: 1;

      @include mediaMax($tablet-s) {
        display: none;
      }
    }

    .card-header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 26px 0 0;

      h4 {
        @include responsive-padding-top-bottom(25px, 25px);
      }
    }

    .card-detail {
      padding: 0 20px 40px;

      p {
        text-align: center;
        margin: 0;
      }
    }
  }
}

.table--wrapper {
  display: block;
  overflow-x: auto;
  white-space: nowrap;

  &.no--wrap {
    white-space: normal;

    @include mediaMax($tablet-l) {
      white-space: nowrap;
    }
  }

  @include mediaMax($tablet-l) {
    margin-left: -20px;
    margin-right: -20px;

    table {
      margin-right: 20px;
      margin-left: 20px;

      tr {
        max-width: 300px;
        width: 100%;
      }
    }
  }
}

.message {

  .repeater--block {
    @include responsive-margin-top-bottom(30px, 60px);
    margin-bottom: 0 !important;

    .repeater--text {
      @include responsive-padding-left-right(20px, 40px);
    }

    .pure-u-lg-1-2 {
      @include responsive-margin-top-bottom(30px, 60px);
      margin-top: 0 !important;

      &:nth-of-type(2),
      &:nth-of-type(4),
      &:nth-of-type(6) {
        border-left: 1px solid $colour-text-body;

        @include mediaMax($tablet-l) {
          border: 0;
        }
      }
    }
  }
}
