.home {

  .slideshow:after {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    z-index: 1;
    background-color: rgba(#000, 0.25);
  }

  .slideshow__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: map-get($z-index, overlay);

    @include mediaMax($tablet-s) {
      align-items: flex-end;
    }

    .section__background {
      position: relative;
      z-index: 1;
      width: 100%;
      margin-top: 60px;

      @include mediaMax($tablet-s) {
        margin-top: 0;
      }

      &:after {
        content: '';
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        position: absolute;
        background: linear-gradient(to right, rgba(115,162,149,0.8) 0%,rgba(115,162,149,0.8) 79%,rgba(115,162,149,0) 100%);
        z-index: -1;

        @include mediaMax($laptop-s) {
          width: 75%;
        }

        @include mediaMax($tablet-s) {
          width: 100%;
          background: linear-gradient(to top, rgba(115,162,149,0.8) 0%,rgba(115,162,149,0.8) 65%,rgba(115,162,149,0) 100%);
        }
      }
    }

    .section__constrained {
      width: 100%;

    }

    .slideshow__text {

      z-index: map-get($z-index, overlay);
      @include responsive-padding-top-bottom(50px, 60px);
      @include responsive-padding-left-right(30px, 70px);
      padding-left: 0 !important;

      @include mediaMax($tablet-s) {
        margin-top: 0;
        padding-right: 0 !important;
        padding-top: 70px !important;

        h1, p {
          text-align: center;
        }
      }

      h1, p {
        color: $colour-text-body-light;
      }

      p {
        max-width: 460px;

        @include mediaMax($tablet-s) {
          max-width: none;
        }
      }
    }
  }

  .slideshow {
    position: relative;
    z-index: 1;
    overflow: hidden;
    max-height: 70vh;

    @include mediaMax($tablet-s) {
      max-height: 80vh;
    }

    .item {
      width: 100%;
      height: 70vh;
      position: relative;
      z-index: 1;


      @include mediaMax($tablet-s) {
        height: 80vh;
      }

      .slide {
        width: 100%;
        height: 100%;
        transition: transform 1s cubic-bezier(0.7, 0, 0.3, 1);
        transform: scale(1.2);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      &.slick-active .slide {
        transform: scale(1);
      }
    }
  }
}