// ####################
// ## Background Colours
// ####################
.bg-green {
    background-color: #004B46;
}

.bg-blue {
    background-color: #0F556E;   
}

.bg-orange {
    background-color: #E67D4B;   
}

.bg-brown {
    background-color: #6F6267;   
}

.bg-pink {
    background-color: #F0C8D2;   
}

.bg-salmon {
    background-color: #FADCCD;   
}

.bg-light {
    background-color: #EBE6E1;   
}

.bg-white {
    background-color: #FFFFFF;
}


// ####################
// ## Text Colours
// ####################
.text-white {
    h1, h2, h3, h4, h5, p {
        color: $text-white;
    }
}

.text-black {
    h1, h2, h3, h4, h5, p {
        color: $text-black;
    }
}

.text-green {
    h1, h2, h3, h4, h5, p {
        color: $text-green;
    }
}

.text-blue {
    h1, h2, h3, h4, h5, p {
        color: $text-blue;
    }
}

.text-brown {
    h1, h2, h3, h4, h5, p {
        color: $text-brown;
    }
}

.text-salmon {
    h1, h2, h3, h4, h5, p {
        color: $text-salmon;
    }
}

.text-orange {
    h1, h2, h3, h4, h5, p {
        color: $text-orange;
    }
}

.text-light {
    h1, h2, h3, h4, h5, p {
        color: $text-light;
    }
}

.text-pink {
    h1, h2, h3, h4, h5, p {
        color: $text-pink;
    }
}