/*------------------------------------|
|	Fonts                               |
|------------------------------------*/

/* montserrat-300 - latin */
@font-face {
 font-family: 'BeausiteSlickWeb';
 font-style: normal;
 font-weight: 400;
 src: local('BeausiteSlickWeb Light'), local('BeausiteSlickWeb-Medium'),
 url('../fonts/BeausiteSlickWeb-Medium.woff2') format('woff2'),
 url('../fonts/BeausiteSlickWeb-Medium.woff') format('woff');
}


// /* montserrat-regular - latin */
// @font-face {
//   font-family: 'Montserrat';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Montserrat Regular'), local('Montserrat-Regular'),
//   url('../fonts/montserrat-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
//   url('../fonts/montserrat-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }

// /* montserrat-700 - latin */
// @font-face {
//   font-family: 'Montserrat';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Montserrat Bold'), local('Montserrat-Bold'),
//   url('../fonts/montserrat-v13-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
//   url('../fonts/montserrat-v13-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }
