/* ----------------------------------
Load custom font with your SVG assets

1. Go to https://app.fontastic.me/accounts/login/ (details on LastPass), create and download your font kit.
2. Copy the CSS bellow this comment and load just the WOFF file format.
3. Copy your custom font on assets/fonts
 */
@font-face {
  font-family: "icon-font-levy";
  src: url("../fonts/icon-font-levy.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "icon-font-levy" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon-font-levy" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\61";
}
.icon-instagram:before {
  content: "\62";
}
.icon-levy-right-arrow:before {
  content: "\63";
}
.icon-twitter:before {
  content: "\64";
}
.icon-linkedin:before {
  content: "\65";
}
.icon-left-arrow:before {
  content: "\66";
}
.icon-right-arrow:before {
  content: "\67";
}
