
// ==========================================================================
// HEADINGS
// ==========================================================================

h1, h2, h3, h4, h5, h6 {
    font-family: $font-beta;
}

.font-regular {
    font-family: $font-alpha;

}

.font-heading {
    font-family: $font-beta;
}

h1,
.heading-1 {
    font-size: 40px;
    margin-bottom: 16px;
    padding-bottom: 0px;
    line-height: 1.23;
    font-weight: 500;

    @include mediaMax($tablet-l) {
        font-size: 28px;
    }
}

.heading-1-1 {
    font-size: 50px;
    margin-bottom: 20px;
    padding-bottom: 0px;
    line-height: 1.23;
    font-weight: 500;

    @include mediaMax($tablet-l) {
        font-size: 32px;
    }
}

h2,
.heading-2 {
    font-size: 32px;
    line-height: 1.23;
    font-weight: 500;
    margin-bottom: 20px;

    @include mediaMax($tablet-l) {
        font-size: 26px;
    }
}

h3,
.heading-3 {
    font-size: 27px;
    line-height: 1.23;
    font-weight: 500;
    margin-bottom: 20px;

    @include mediaMax($tablet-l) {
        font-size: 22px;
    }
}

h4,
.heading-4 {
    font-size: 21px;
    margin-top: 0px;
    font-weight: 500;
    margin-bottom: 20px;

    @include mediaMax($tablet-l) {
        font-size: 20px;
    }
}

h5,
.heading-5 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;

    @include mediaMax($tablet-l) {
        font-size: 18px;
    }
}

h6,
.heading-6 {
    font-size: 16px;
    font-weight: 500;

    @include mediaMax($tablet-l) {
        font-size: 16px;
    }
}

.heading-7 {
    font-size: 14px;
    font-weight: 500;

}

// ==========================================================================
// FONT WEIGHT
// ==========================================================================
.light {
    font-weight: 300;
}

.regular {
    font-weight: 500;
}

.normal {
    font-weight: 700;
}