//------------------------------------
//	Variables
//------------------------------------

// Font Sizes
$base-font-size: 16 !default;

// Font Faces
$font-alpha: Helvetica, Sans-Serif;
$font-beta: 'BeausiteSlickWeb';

// Box Model
$box-model: border-box;

// Background and panel colours
$main-background: #1d1d1d;
$secondary-background: #F2F2F2;

$dark-grey: #1d1d1d;
$light-grey: #454545;

$topbar-background: #1A1A1A;
$grey-gradient-background: linear-gradient(to bottom, rgba($main-background,1) 0%,rgba($secondary-background,1) 100%);

// Background block colours
$image-placeholder: #fafafa;

// Text colours
$colour-text-body: #1D1D1D;
$colour-text-body-levy: #1D1D1D;
$colour-text-body-light: #fff;
$colour-text-footer: #3e3e3e;

//Brand colours
$brand-primary: #666666;
$yellow: #F7B638;
$violet: #631F81;
$red: #F30606;
$green: #00B02C;
$dark-blue: #001A8C;
$light-blue: #26A9E6;

// Reading
$brand-reading: #000032;
$gold-reading: #F6A800;
$light-blue-reading: #0032B9;
$reading-gradient-background: linear-gradient(to bottom, rgba($brand-reading,1) 0%,rgba($light-blue-reading,1) 100%);

// Sheffield
$brand-sheffield: #AE2226;
$gold-sheffield: #CE9C3E;
$light-red-sheffield: #AE2226;
$sheffield-gradient-background: linear-gradient(to bottom, rgba(#801A18,1) 0%,rgba($light-red-sheffield,1) 100%);

// Cardiff
$brand-cardiff: #1B365D;
$gold-cardiff: #DBDBDB;
$light-blue-cardiff: #1B365D;
$cardiff-gradient-background: linear-gradient(to bottom, rgba(#12243B,1) 0%,rgba($light-blue-cardiff,1) 100%);


// Gradients


// Shadows
$panel-shadow: 0 20px 15px 0 rgba(0,0,0,0.1);
$panel-shadow-hover: 0 30px 50px 0 rgba(0,0,0,0.2);

$z-index: (
    hamburguer         : 300,
    modal              : 200,
    navigation         : 100,
    footer             : 90,
    triangle           : 60,
    share              : 40,
    overlay            : 10,
);
// Breakpoints
$phone-s: 320px;         // pure-u-p-
$phone-l: 600px;       // pure-u-pl-
$tablet-s: 768px;      // pure-u-ts-
$tablet-m: 840px;      // pure-u-tm-
$tablet: 980px;        // pure-u-t-
$tablet-l: 1024px;     // pure-u-tl-
$tablet-xl: 1124px;    // pure-u-txl-
$laptop-s: 1280px;     // pure-u-ls-
$laptop: 1380px;
$laptop-l: 1680px;
$desktop: 2000px;

// Sizes
$max-width: 1638px;
$max-width-fluid: 2500px;
$min-width: 360px;
$menu-height: 90px;

$admin-bar-height: 46px;
$nav-bar-height: 94px;

// Spacing
$global-gutter: 20px;
$column-spacing: 15px;
$global-spacing: 32px;
$block-spacing-max: 100px;
$block-spacing-min: 50px;

$z-lvl-1: 100;


// Colours
$text-white: #FFFFFF;
$text-black: #000000;
$text-blue: #0F556E;
$text-orange: #E67D4B;
$text-brown: #6F6267;
$text-pink: #F0C8D2;
$text-salmon: #FADCCD;
$text-light: #EBE6E1;
$text-green: #004B46;
$text-primary: #004B46;
$text-secondary: #0F556E;

// Background Colours
$bg-white: #FFFFFF;
$bg-green: #004B46;
$bg-blue: #0F556E;
$bg-orange: #E67D4B;
$bg-orange-light: rgba(230, 125, 75, 0.7);
$bg-brown: #6F6267;
$bg-pink: #F0C8D2;
$bg-salmon: #FADCCD;
$bg-black: #000000;
$bg-light: #EBE6E1;