.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 250ms;
  user-select: none;
  transform: scale(0.85);
}
.hamRotate.active {
  transform: rotate(45deg);
  @include mediaMax($tablet-s) {
    transform: rotate(45deg) scale(0.85);
  }
}
.hamRotate180.active {
  transform: rotate(180deg);
  @include mediaMax($tablet-s) {
    transform: rotate(180deg) scale(0.85);
  }
}
.line {
  fill: none;
  transition: stroke-dasharray 250ms, stroke-dashoffset 250ms;
  stroke: $brand-primary;
  stroke-width: 3;
  stroke-linecap: normal;
}
.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 250ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 250ms, stroke-dashoffset 250ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}